node-red/node_red-utelys.flow
[{"id":"517f9ab7dc87a15a","type":"tab","label":"Utelys","disabled":false,"info":"","env":[]},{"id":"5d289618ce2f183c","type":"comment","z":"517f9ab7dc87a15a","name":"Beskrivelse av styringen","info":"# node_red-utelys\n// Tor Gaute Lien - Versjon 1.0 - 31/12-21\n// Ny\n// \n// **BESKRIVELSE**\n// \n// Skrur på utelys ved solnedgang og av ved soloppgang.\n// \n// **ENHETER BRUKT**\n// \n// Her bruker jeg følgende devicer:\n// \n// Ekte devicer:\n// To stk switch til utelys\n// \n// **TING SOM EVENTUELT TRENGS**\n// \n\nTing med UTROPSTEGN (!) sier at du MÅ endre navn på device!","x":170,"y":40,"wires":[]},{"id":"06e9681fb1d15cd8","type":"comment","z":"517f9ab7dc87a15a","name":"Sjekk om overstyring er av","info":"Her endrer man eventuelt GPS-posisjon.","x":170,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"8b1c4895f664995a","type":"switch","z":"517f9ab7dc87a15a","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":490,"y":280,"wires":[["e2cab2310efdc0bf","3e0455661028ffd7"],["f71f81eb0085ba13"]]},{"id":"276a808803f1f44c","type":"bigtimer","z":"517f9ab7dc87a15a","outtopic":"","outpayload1":"","outpayload2":"","name":"På ved solnedgang, av ved soloppgang","comment":"","lat":"60.5861","lon":"10.7634","starttime":"5004","endtime":"5003","startoff":"20","endoff":0,"startoff2":"","endoff2":"","offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xday7":"","xmonth7":"","xday8":"","xmonth8":"","xday9":"","xmonth9":"","xday10":"","xmonth10":"","xday11":"","xmonth11":"","xday12":"","xmonth12":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":219,"y":169.5,"wires":[[],[],["0a838bcdde34dd20"]]},{"id":"f71f81eb0085ba13","type":"api-call-service","z":"517f9ab7dc87a15a","name":"Skru av lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.smiubakken_ute, light.gang_utelys","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":380,"wires":[[]]},{"id":"e64a3abc3852b54c","type":"comment","z":"517f9ab7dc87a15a","name":"Skru på lys","info":"Her endrer man navnet på lysene.","x":920,"y":140,"wires":[],"icon":"node-red/alert.svg"},{"id":"b5c9097c6f1cc346","type":"comment","z":"517f9ab7dc87a15a","name":"Skru av lys","info":"Her endrer man navnet på lysene.","x":700,"y":340,"wires":[],"icon":"node-red/alert.svg"},{"id":"e2cab2310efdc0bf","type":"api-current-state","z":"517f9ab7dc87a15a","name":"Sjekk om lys er av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.smiubakken_ute","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"off","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":730,"y":180,"wires":[["355da3db373dc308"],[]],"outputLabels":["Av","På"]},{"id":"c5e159a0d3ed25d4","type":"comment","z":"517f9ab7dc87a15a","name":"Sjekk om lyset er av","info":"Her endrer man navnet på sitt lys.\n\nSjekker om lyset er av, for å hindre flere starter og trafikk.","x":730,"y":140,"wires":[],"icon":"node-red/alert.svg"},{"id":"2b6c4df2f863cd24","type":"api-call-service","z":"517f9ab7dc87a15a","name":"Skru på lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang_utelys","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":280,"wires":[[]]},{"id":"7368f4abc0a0a106","type":"comment","z":"517f9ab7dc87a15a","name":"Skru på lys","info":"Her endrer man navnet på lysene.","x":920,"y":240,"wires":[],"icon":"node-red/alert.svg"},{"id":"3e0455661028ffd7","type":"api-current-state","z":"517f9ab7dc87a15a","name":"Sjekk om lys er av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.gang_utelys","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"off","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":730,"y":280,"wires":[["2b6c4df2f863cd24"],[]],"outputLabels":["Av","På"]},{"id":"edc97bc95faadd9c","type":"comment","z":"517f9ab7dc87a15a","name":"Sjekk om lyset er av","info":"Her endrer man navnet på sitt lys.\n\nSjekker om lyset er av, for å hindre flere starter og trafikk.","x":730,"y":240,"wires":[],"icon":"node-red/alert.svg"},{"id":"355da3db373dc308","type":"api-call-service","z":"517f9ab7dc87a15a","name":"Skru på lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.smiubakken_ute","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":180,"wires":[[]]},{"id":"0a838bcdde34dd20","type":"delay","z":"517f9ab7dc87a15a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":500,"y":180,"wires":[["8b1c4895f664995a"]]},{"id":"c26d43fd196edaba","type":"comment","z":"517f9ab7dc87a15a","name":"Tidsforsinkelse","info":"Legger inn tidsforsinkelse, om ikke får man feil hver gang NODE-red starter opp / deploy.","x":520,"y":140,"wires":[]},{"id":"b7bc07126af18eb0","type":"comment","z":"517f9ab7dc87a15a","name":"På eller av","info":"","x":500,"y":240,"wires":[]},{"id":"b6ae3012.c9a4f","type":"server","name":"homeAssistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
