node-red/node_red-PIR.flow
[{"id":"ed1f17e08d4e6f0a","type":"tab","label":"PIR","disabled":false,"info":"","env":[]},{"id":"8c4f0ae8a236808e","type":"switch","z":"ed1f17e08d4e6f0a","name":"På eller av","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":160,"wires":[["011e58c1e46073a6","e4625940218f4507"],["f483b793f6df6a33","011e58c1e46073a6"]],"outputLabels":["På","Av"],"info":"Sjekker kun om det gir ON eller OFF"},{"id":"470c223bb49eb69b","type":"server-state-changed","z":"ed1f17e08d4e6f0a","name":"Stue PIR (direkte)","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.stue_sensor_burglar","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":160,"wires":[["8c4f0ae8a236808e"]]},{"id":"e4625940218f4507","type":"api-call-service","z":"ed1f17e08d4e6f0a","name":"Sett Bevegelse","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.stue_bevegelse","data":"{\"option\":\"Bevegelse\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":120,"wires":[[]]},{"id":"f483b793f6df6a33","type":"api-call-service","z":"ed1f17e08d4e6f0a","name":"Sett Rolig","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.stue_bevegelse","data":"{\"option\":\"Rolig\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":160,"wires":[[]]},{"id":"011e58c1e46073a6","type":"stoptimer","z":"ed1f17e08d4e6f0a","duration":"1200","units":"Second","payloadtype":"str","payloadval":"on","name":"20 min timer","x":610,"y":240,"wires":[[],["6c5dac1ae0b4b7d5"]],"outputLabels":["","On"]},{"id":"6c5dac1ae0b4b7d5","type":"api-call-service","z":"ed1f17e08d4e6f0a","name":"Sett Stille","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.stue_bevegelse","data":"{\"option\":\"Stille\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":260,"wires":[[]]},{"id":"fb95899b406451bc","type":"comment","z":"ed1f17e08d4e6f0a","name":"PIR-enhet","info":"Her endrer man navnet på sin PIR-enhet.\n\nDet er viktig at enheten gir ON ved begevelse og OFF når den slår av","x":120,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"0439d23b889eefc3","type":"comment","z":"ed1f17e08d4e6f0a","name":"Timer","info":"Her settes en timer.\n\nDen aktiveres (restartes) hver gang det kommer signal inn.","x":590,"y":200,"wires":[]},{"id":"5ca1382e363cb125","type":"comment","z":"ed1f17e08d4e6f0a","name":"PIR status","info":"Her settes PIR-status.\n\nJeg har en input_select med flere valg.","x":600,"y":80,"wires":[],"icon":"node-red/alert.svg"},{"id":"d587e690e79261ac","type":"comment","z":"ed1f17e08d4e6f0a","name":"Beskrivelse av styringen","info":"# node_red-PIR\n// Tor Gaute Lien - Versjon 1.0 - 06/01-22\n// Ny\n// \n// **BESKRIVELSE**\n// \n// Her styres input-boolean som endres avhengig av om PIR er\n// aktivert (bevegelse), Rolig (PIR av) eller Stille (PIR av i x\n// minutter).\n//\n// Dette styrer også da Input Binary som jeg har foskjellige ikoner\n// avhengig av status.\n// \n// **ENHETER BRUKT**\n// \n// Her bruker jeg følgende devicer (per PIR):\n// \n// Ekte devicer:\n// \n// Home Assistant devicer:\n// Input Selector som gir meg ulike valg (Bevegelse, // Rolig,\n// Stille og Ukjent (som er initial).\n// \n// **TING SOM EVENTUELT TRENGS**\n// \n// * Jeg bruker en egen pakke \"packages-pir\" som gir Input Selectorene\n\nTing med UTROPSTEGN (!) sier at du MÅ endre navn på device!","x":170,"y":40,"wires":[]},{"id":"de59ce9a5ed6175b","type":"comment","z":"ed1f17e08d4e6f0a","name":"PIR status","info":"Her settes PIR-status.\n\nJeg har en input_select med flere valg.","x":820,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"b4bd7bfa9c03c104","type":"comment","z":"ed1f17e08d4e6f0a","name":"PIR status","info":"Her settes PIR-status.\n\nJeg har en input_select med flere valg.","x":820,"y":220,"wires":[],"icon":"node-red/alert.svg"},{"id":"68645b806a3c4a8f","type":"switch","z":"ed1f17e08d4e6f0a","name":"På eller av","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":400,"wires":[["55a75b69befd2aea","5446553f8256f480"],["3e536898d6dceca2","55a75b69befd2aea"]],"outputLabels":["På","Av"],"info":"Sjekker kun om det gir ON eller OFF"},{"id":"070acc504f16abad","type":"server-state-changed","z":"ed1f17e08d4e6f0a","name":"Kjøkken PIR (direkte)","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kjokken_sensor_burglar","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":400,"wires":[["68645b806a3c4a8f"]]},{"id":"5446553f8256f480","type":"api-call-service","z":"ed1f17e08d4e6f0a","name":"Sett Bevegelse","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.kjokken_bevegelse","data":"{\"option\":\"Bevegelse\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":360,"wires":[[]]},{"id":"3e536898d6dceca2","type":"api-call-service","z":"ed1f17e08d4e6f0a","name":"Sett Rolig","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.kjokken_bevegelse","data":"{\"option\":\"Rolig\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":400,"wires":[[]]},{"id":"55a75b69befd2aea","type":"stoptimer","z":"ed1f17e08d4e6f0a","duration":"1200","units":"Second","payloadtype":"str","payloadval":"on","name":"20 min timer","x":610,"y":480,"wires":[[],["a4201dc101b91b97"]],"outputLabels":["","On"]},{"id":"a4201dc101b91b97","type":"api-call-service","z":"ed1f17e08d4e6f0a","name":"Sett Stille","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.kjokken_bevegelse","data":"{\"option\":\"Stille\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":500,"wires":[[]]},{"id":"7aa381f52eb0ed8c","type":"comment","z":"ed1f17e08d4e6f0a","name":"PIR-enhet","info":"Her endrer man navnet på sin PIR-enhet.\n\nDet er viktig at enheten gir ON ved begevelse og OFF når den slår av","x":120,"y":360,"wires":[],"icon":"node-red/alert.svg"},{"id":"44906bf1c7cd866d","type":"comment","z":"ed1f17e08d4e6f0a","name":"Timer","info":"Her settes en timer.\n\nDen aktiveres (restartes) hver gang det kommer signal inn.","x":590,"y":440,"wires":[]},{"id":"4f368c9d76d47eef","type":"comment","z":"ed1f17e08d4e6f0a","name":"PIR status","info":"Her settes PIR-status.\n\nJeg har en input_select med flere valg.","x":600,"y":320,"wires":[],"icon":"node-red/alert.svg"},{"id":"79c13de319395319","type":"comment","z":"ed1f17e08d4e6f0a","name":"PIR status","info":"Her settes PIR-status.\n\nJeg har en input_select med flere valg.","x":820,"y":360,"wires":[],"icon":"node-red/alert.svg"},{"id":"a5eeea9a1d9a2fd5","type":"comment","z":"ed1f17e08d4e6f0a","name":"PIR status","info":"Her settes PIR-status.\n\nJeg har en input_select med flere valg.","x":820,"y":460,"wires":[],"icon":"node-red/alert.svg"},{"id":"cfe56ab77c6192f4","type":"switch","z":"ed1f17e08d4e6f0a","name":"På eller av","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":640,"wires":[["d916573503cc29e8","adb3ae788d69af30"],["0638784fb553fae5","d916573503cc29e8"]],"outputLabels":["På","Av"],"info":"Sjekker kun om det gir ON eller OFF"},{"id":"f7b81556aa6ea51e","type":"server-state-changed","z":"ed1f17e08d4e6f0a","name":"Lekerom PIR (direkte)","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.lekerom_sensor_burglar","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":640,"wires":[["cfe56ab77c6192f4"]]},{"id":"adb3ae788d69af30","type":"api-call-service","z":"ed1f17e08d4e6f0a","name":"Sett Bevegelse","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.lekerom_bevegelse","data":"{\"option\":\"Bevegelse\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":600,"wires":[[]]},{"id":"0638784fb553fae5","type":"api-call-service","z":"ed1f17e08d4e6f0a","name":"Sett Rolig","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.lekerom_bevegelse","data":"{\"option\":\"Rolig\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":640,"wires":[[]]},{"id":"d916573503cc29e8","type":"stoptimer","z":"ed1f17e08d4e6f0a","duration":"1200","units":"Second","payloadtype":"str","payloadval":"on","name":"20 min timer","x":610,"y":720,"wires":[[],["1a21d33bd96beb4c"]],"outputLabels":["","On"]},{"id":"1a21d33bd96beb4c","type":"api-call-service","z":"ed1f17e08d4e6f0a","name":"Sett Stille","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.lekerom_bevegelse","data":"{\"option\":\"Stille\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":740,"wires":[[]]},{"id":"f0d2edd835f939b0","type":"comment","z":"ed1f17e08d4e6f0a","name":"PIR-enhet","info":"Her endrer man navnet på sin PIR-enhet.\n\nDet er viktig at enheten gir ON ved begevelse og OFF når den slår av","x":120,"y":600,"wires":[],"icon":"node-red/alert.svg"},{"id":"6a18056b58fe1f53","type":"comment","z":"ed1f17e08d4e6f0a","name":"Timer","info":"Her settes en timer.\n\nDen aktiveres (restartes) hver gang det kommer signal inn.","x":590,"y":680,"wires":[]},{"id":"c676d4c65c930689","type":"comment","z":"ed1f17e08d4e6f0a","name":"PIR status","info":"Her settes PIR-status.\n\nJeg har en input_select med flere valg.","x":600,"y":560,"wires":[],"icon":"node-red/alert.svg"},{"id":"e957f1856d6e6900","type":"comment","z":"ed1f17e08d4e6f0a","name":"PIR status","info":"Her settes PIR-status.\n\nJeg har en input_select med flere valg.","x":820,"y":600,"wires":[],"icon":"node-red/alert.svg"},{"id":"a30aeb082256264b","type":"comment","z":"ed1f17e08d4e6f0a","name":"PIR status","info":"Her settes PIR-status.\n\nJeg har en input_select med flere valg.","x":820,"y":700,"wires":[],"icon":"node-red/alert.svg"},{"id":"e56b051f744aee75","type":"switch","z":"ed1f17e08d4e6f0a","name":"På eller av","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":880,"wires":[["899ce341416c70d8","7b8e0ee96bda3528"],["3d6ac9c2e001fea2","899ce341416c70d8"]],"outputLabels":["På","Av"],"info":"Sjekker kun om det gir ON eller OFF"},{"id":"f77b35dd57066a5f","type":"server-state-changed","z":"ed1f17e08d4e6f0a","name":"Gang PIR (direkte)","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.gang_pir_home_security_motion_detection","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":880,"wires":[["e56b051f744aee75"]]},{"id":"7b8e0ee96bda3528","type":"api-call-service","z":"ed1f17e08d4e6f0a","name":"Sett Bevegelse","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.gang_bevegelse","data":"{\"option\":\"Bevegelse\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":840,"wires":[[]]},{"id":"3d6ac9c2e001fea2","type":"api-call-service","z":"ed1f17e08d4e6f0a","name":"Sett Rolig","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.gang_bevegelse","data":"{\"option\":\"Rolig\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":880,"wires":[[]]},{"id":"899ce341416c70d8","type":"stoptimer","z":"ed1f17e08d4e6f0a","duration":"1200","units":"Second","payloadtype":"str","payloadval":"on","name":"20 min timer","x":610,"y":960,"wires":[[],["c63bbedf76552a39"]],"outputLabels":["","On"]},{"id":"c63bbedf76552a39","type":"api-call-service","z":"ed1f17e08d4e6f0a","name":"Sett Stille","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.gang_bevegelse","data":"{\"option\":\"Stille\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":980,"wires":[[]]},{"id":"e91d46e8315bcc45","type":"comment","z":"ed1f17e08d4e6f0a","name":"PIR-enhet","info":"Her endrer man navnet på sin PIR-enhet.\n\nDet er viktig at enheten gir ON ved begevelse og OFF når den slår av","x":120,"y":840,"wires":[],"icon":"node-red/alert.svg"},{"id":"3514a9a983f41ff1","type":"comment","z":"ed1f17e08d4e6f0a","name":"Timer","info":"Her settes en timer.\n\nDen aktiveres (restartes) hver gang det kommer signal inn.","x":590,"y":920,"wires":[]},{"id":"d11287f81a455e48","type":"comment","z":"ed1f17e08d4e6f0a","name":"PIR status","info":"Her settes PIR-status.\n\nJeg har en input_select med flere valg.","x":600,"y":800,"wires":[],"icon":"node-red/alert.svg"},{"id":"0ad7549ddb720ca6","type":"comment","z":"ed1f17e08d4e6f0a","name":"PIR status","info":"Her settes PIR-status.\n\nJeg har en input_select med flere valg.","x":820,"y":840,"wires":[],"icon":"node-red/alert.svg"},{"id":"f6c4cb5fa5e7996d","type":"comment","z":"ed1f17e08d4e6f0a","name":"PIR status","info":"Her settes PIR-status.\n\nJeg har en input_select med flere valg.","x":820,"y":940,"wires":[],"icon":"node-red/alert.svg"},{"id":"b6ae3012.c9a4f","type":"server","name":"homeAssistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
