node-red/node_red-lysstyring_enkel.flow
[{"id":"c2a4b663b0ce8f82","type":"tab","label":"Lysstyring Enkel (Lekerom)","disabled":false,"info":"","env":[]},{"id":"9f051040f54698fb","type":"switch","z":"c2a4b663b0ce8f82","name":"På eller av","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":160,"wires":[["9e89e73e38c60ef0","96b35b0292005840"],["9e89e73e38c60ef0"]],"outputLabels":["På","Av"],"info":"Sjekker kun om det gir ON eller OFF"},{"id":"8c0054aa0f9d814e","type":"server-state-changed","z":"c2a4b663b0ce8f82","name":"Lekerom PIR (direkte)","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.lekerom_sensor_burglar","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":160,"wires":[["8cb832be427fd097"]]},{"id":"96b35b0292005840","type":"api-current-state","z":"c2a4b663b0ce8f82","name":"Sjekk om lys er av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.lekerom_lys","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"off","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":710,"y":160,"wires":[["d1281d255891c9d8"],[]],"outputLabels":["Av","På"]},{"id":"d1281d255891c9d8","type":"api-call-service","z":"c2a4b663b0ce8f82","name":"Skru på lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lekerom_lys","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":160,"wires":[[]]},{"id":"60bedcc9b5abb529","type":"api-call-service","z":"c2a4b663b0ce8f82","name":"Skru av lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lekerom_lys","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":260,"wires":[[]]},{"id":"9e89e73e38c60ef0","type":"stoptimer","z":"c2a4b663b0ce8f82","duration":"20","units":"Minute","payloadtype":"str","payloadval":"on","name":"20 min timer","x":430,"y":260,"wires":[[],["b3db4aef9b543aba"]],"outputLabels":["","On"]},{"id":"b1fa9c230a96320a","type":"api-current-state","z":"c2a4b663b0ce8f82","name":"Sjekk om lys er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.lekerom_lys","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"off","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":710,"y":260,"wires":[["60bedcc9b5abb529"],[]]},{"id":"95da2633371288be","type":"comment","z":"c2a4b663b0ce8f82","name":"PIR-enhet","info":"Her endrer man navnet på sin PIR-enhet.\n\nDet er viktig at enheten gir ON ved begevelse og OFF når den slår av","x":120,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"7b0e3f4d5ecc3f23","type":"comment","z":"c2a4b663b0ce8f82","name":"Timer","info":"Her settes en timer.\n\nDen aktiveres (restartes) hver gang det kommer signal inn.","x":410,"y":220,"wires":[]},{"id":"ef6edf02b1081589","type":"comment","z":"c2a4b663b0ce8f82","name":"Sjekk om lyset er av","info":"Her endrer man navnet på sitt lys.\n\nSjekker om lyset er av, for å hindre flere starter og trafikk.","x":710,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"9ae2209543a9709a","type":"comment","z":"c2a4b663b0ce8f82","name":"Skru på lys","info":"Her endrer man navnet på sitt lys.","x":920,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"721ad5f932fc2ef9","type":"comment","z":"c2a4b663b0ce8f82","name":"Skru av lys","info":"Her endrer man navnet på sitt lys.","x":920,"y":220,"wires":[],"icon":"node-red/alert.svg"},{"id":"74adf78a80f8be51","type":"comment","z":"c2a4b663b0ce8f82","name":"Sjekk om lyset er på","info":"Her endrer man navnet på sitt lys.\n\nSjekker om lyset er på, for å hindre flere starter og trafikk.","x":710,"y":220,"wires":[],"icon":"node-red/alert.svg"},{"id":"f931e943b09127a8","type":"comment","z":"c2a4b663b0ce8f82","name":"Beskrivelse av styringen","info":"# node_red-lysstyring_enkel\n// Tor Gaute Lien - Versjon 1.0 - 31/12-21\n// Ny\n// \n// **BESKRIVELSE**\n// \n// Lyset styres av en PIR som slår lyset på og av.\n// \n// Den sjekker først om det er overstyring av PIR.\n// \n// Når lyset slås på, aktiveres en timer. Den aktiveres av aktivitet\n// på PIR (on / off).\n// \n// Når timeren er ferdig sjekker den om PIR er på (om det forsatt er \n// aktivitet der etter timeren), og om den er aktiv vil timer starte \n// på nytt. \n// \n// **ENHETER BRUKT**\n// \n// Her bruker jeg følgende devicer:\n// \n// Ekte devicer:\n// PIR som gir ON eller OFF\n// Lampe som styres\n// \n// Home Assistant devicer:\n// Input Boolean som forteller meg om overstyring PIR er på eller av \n// \n// **TING SOM EVENTUELT TRENGS**\n// \n// * Jeg bruker en egen pakke \"Overstyring Lys\" som gir de enhetene\n// * Jeg bruker en egen flow \"Overstyring Lysstyring\" som kan \n//   overstyre lysstyringen\n// * Jeg bruker en egen pakke \"PIR\" som gir de enhetene\n// * Jeg bruker en egen flow \"PIR\" som styrer de enhetene\n\nTing med UTROPSTEGN (!) sier at du MÅ endre navn på device!","x":170,"y":40,"wires":[]},{"id":"8cb832be427fd097","type":"api-current-state","z":"c2a4b663b0ce8f82","name":"Sjekk om overstyring er av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.lekerom_overstyr_pir_knapp","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":180,"y":260,"wires":[["9f051040f54698fb"],[]],"outputLabels":["Overstyring av","Overstyring på"]},{"id":"35cfbaa51b348598","type":"comment","z":"c2a4b663b0ce8f82","name":"Sjekk om overstyring er av","info":"Her endrer man navnet på sin overstyrings-enhet.\n\nNattenhet som er en knapp som overstyrer nattsenk / dimmet lys på natten","x":170,"y":220,"wires":[],"icon":"node-red/alert.svg"},{"id":"b3db4aef9b543aba","type":"api-current-state","z":"c2a4b663b0ce8f82","name":"Sjekk om PIR er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.lekerom_sensor_burglar","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"piron","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":340,"wires":[["9e89e73e38c60ef0"],["b1fa9c230a96320a"]],"outputLabels":["PIR på","PIR av"]},{"id":"e3c81b4f95677a65","type":"comment","z":"c2a4b663b0ce8f82","name":"PIR-enhet","info":"Her endrer man navnet på sin PIR-enhet.\n\nHer sjekker man om det PIR fortsatt er aktiv, for å hindre at lyset slås på om noen er aktive i rommet under hele timer-seansen.","x":420,"y":300,"wires":[],"icon":"node-red/alert.svg"},{"id":"b6ae3012.c9a4f","type":"server","name":"homeAssistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
