node-red/node_red-nattugle.flow
[{"id":"39399146c33d5dba","type":"tab","label":"Nattugle","disabled":false,"info":"","env":[]},{"id":"a2daa0e8b3fc6717","type":"comment","z":"39399146c33d5dba","name":"Beskrivelse av styringen","info":"# node_red-nattugle\n// Tor Gaute Lien - Versjon 1.0 - 31/12-21\n// Ny\n// \n// **BESKRIVELSE**\n// \n// Slår av nattugleknappen etter gitt tid (2 timer)\n// \n// Nattugle brukes i egne flows for lysstyring som en knapp for å \n// overstyre nattsenk i to timer.\n// \n// **ENHETER BRUKT**\n// \n// Her bruker jeg følgende devicer:\n// \n// Home Assistant devicer:\n// Input Boolean kalt Nattugle\n// Switch kalt Nattugle\n// \n// **TING SOM EVENTUELT TRENGS**\n// \n// * Jeg bruker en egen pakke \"packages-nattugle\" som gir Nattugle\n//   (Input Boolean og Switch)\n\nTing med UTROPSTEGN (!) sier at du MÅ endre navn på device!","x":170,"y":40,"wires":[]},{"id":"f09bba6d709e7779","type":"server-state-changed","z":"39399146c33d5dba","name":"Knapp slås på","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.nattugle_knapp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":160,"wires":[["d8b9b41b1e653940"],[]]},{"id":"20bdb3348c926d56","type":"comment","z":"39399146c33d5dba","name":"Sjekk endring tid","info":"Her endrer man navnet på sin tids-enhet.\n\nAktiverer endring om overstyring på.","x":140,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"7be88cb70bd4075f","type":"api-call-service","z":"39399146c33d5dba","name":"Slå av knapp","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.nattugle_knapp","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":160,"wires":[[]]},{"id":"a441526f3e5d62f2","type":"comment","z":"39399146c33d5dba","name":"Slå av knapp","info":"Her endrer man navnet på sin overstyrings-enhet.","x":590,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"d8b9b41b1e653940","type":"stoptimer","z":"39399146c33d5dba","duration":"2","units":"Hour","payloadtype":"str","payloadval":"on","name":"2 timer","x":350,"y":160,"wires":[["7be88cb70bd4075f"],[]],"outputLabels":["","On"]},{"id":"0177b418ae82183a","type":"comment","z":"39399146c33d5dba","name":"Timer","info":"Her settes en timer.\n\nDen aktiveres (restartes) hver gang det kommer signal inn.","x":350,"y":120,"wires":[]},{"id":"b6ae3012.c9a4f","type":"server","name":"homeAssistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
