node-red/node_red-ladestasjoner.flow
[{"id":"aac55b374d3bd888","type":"tab","label":"Ladestasjoner","disabled":false,"info":"","env":[]},{"id":"649824e65fb4c97e","type":"comment","z":"aac55b374d3bd888","name":"Beskrivelse av styringen","info":"# node_red-ladestasjoner\n// Tor Gaute Lien - Versjon 1.0 - 31/12-21\n// Ny\n// \n// **BESKRIVELSE**\n// \n// Her er en styring per ladestasjon.\n// \n// Du har en Input Boolean som må være på for å aktivere styringen. \n// \n// Styringen sjekker hvert minutt om tidspunktet er likt et av disse\n// fire:\n// \n// Tidspunkt 1: Slå på ladestasjonen (dag og helg)\n// Tidspunkt 2: Slå på ladestasjonen (dag og helg)\n// Tidspunkt 3: Slå av ladestasjonen (dag)\n// Tidspunkt 4: Slå av ladestasjonen (dag og helg)\n// \n// Når det er likt, sjekker de om ladestasjonen allerede er på eller \n// av. Så slår de dem på / av om de ikke er riktig. \n// \n// **ENHETER BRUKT**\n// \n// Her har jeg følgende devicer (per ladestasjon):\n// \n// Ekte devicer:\n// Ladestasjon switch\n// \n// Home Assistant devicer:\n// Input Boolean som gir deg valget med å slå av styringen\n// Input Datetime som gir fire tidspunkt å styre\n// \n// **TING SOM EVENTUELT TRENGS**\n// \n// * Jeg bruker en egen pakke \"Ladestasjoner\" som gir \n//   ladestasjonsenhetene (Input Boolean og Input Datetime)\n// * Jeg bruker en egen pakke \"Arbeidsdag\" som gir den enheten\n\nTing med UTROPSTEGN (!) sier at du MÅ endre navn på device!","x":170,"y":40,"wires":[]},{"id":"72f60bde.bf77a4","type":"inject","z":"aac55b374d3bd888","name":"Sjekk pr min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":140,"y":200,"wires":[["5a9ea501a03c2c52"]]},{"id":"fa8f3a6d.94aef8","type":"function","z":"aac55b374d3bd888","name":"Sjekk tid","func":"const states = global.get('homeassistant').homeAssistant.states;\nconst now = new Date();\nconst alarm = states['input_datetime.ladestasjon_stue_on_1'].attributes;\n\nif(now.getHours() === alarm.hour && now.getMinutes() === alarm.minute) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":200,"wires":[["116857ced10fcd81"]]},{"id":"10bab3271909cb01","type":"api-call-service","z":"aac55b374d3bd888","name":"Slå på knapp","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.stue_ladestasjon_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":200,"wires":[[]]},{"id":"f882313a2d9aaad6","type":"comment","z":"aac55b374d3bd888","name":"Tidspukt PÅ #1","info":"Her endrer man navnet på sin tidsinnput.","x":400,"y":160,"wires":[],"icon":"node-red/alert.svg"},{"id":"49696d33d5c5d87b","type":"comment","z":"aac55b374d3bd888","name":"Sjekk pr min.","info":"","x":130,"y":160,"wires":[],"icon":"node-red-contrib-bigtimer/timer.png"},{"id":"847a186a3cd08c05","type":"function","z":"aac55b374d3bd888","name":"Sjekk tid","func":"const states = global.get('homeassistant').homeAssistant.states;\nconst now = new Date();\nconst alarm = states['input_datetime.ladestasjon_stue_on_2'].attributes;\n\nif(now.getHours() === alarm.hour && now.getMinutes() === alarm.minute) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":280,"wires":[["116857ced10fcd81"]]},{"id":"6cf3af7c371ccb2c","type":"comment","z":"aac55b374d3bd888","name":"Tidspukt PÅ #2","info":"Her endrer man navnet på sin tidsinnput.","x":400,"y":240,"wires":[],"icon":"node-red/alert.svg"},{"id":"88f86b7066a6183c","type":"comment","z":"aac55b374d3bd888","name":"Ladestasjon Stue","info":"","x":140,"y":120,"wires":[]},{"id":"ca011d296c751a47","type":"function","z":"aac55b374d3bd888","name":"Sjekk tid","func":"const states = global.get('homeassistant').homeAssistant.states;\nconst now = new Date();\nconst alarm = states['input_datetime.ladestasjon_stue_off_1'].attributes;\n\nif(now.getHours() === alarm.hour && now.getMinutes() === alarm.minute) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":360,"wires":[["80bdf6364acab070"]]},{"id":"730322cacfb6fcad","type":"comment","z":"aac55b374d3bd888","name":"Tidspukt AV Dag","info":"Her endrer man navnet på sin tidsinnput.","x":400,"y":320,"wires":[],"icon":"node-red/alert.svg"},{"id":"5e5661d03b85ee24","type":"function","z":"aac55b374d3bd888","name":"Sjekk tid","func":"const states = global.get('homeassistant').homeAssistant.states;\nconst now = new Date();\nconst alarm = states['input_datetime.ladestasjon_stue_off_2'].attributes;\n\nif(now.getHours() === alarm.hour && now.getMinutes() === alarm.minute) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":440,"wires":[["290376598144a099"]]},{"id":"ba09a05d99d9c176","type":"comment","z":"aac55b374d3bd888","name":"Tidspukt AV helg","info":"Her endrer man navnet på sin tidsinnput.","x":400,"y":400,"wires":[],"icon":"node-red/alert.svg"},{"id":"8c883241241112d0","type":"comment","z":"aac55b374d3bd888","name":"Skru på ladestasjon","info":"Her endrer man navnet på sin ladestasjon.","x":1190,"y":160,"wires":[],"icon":"node-red/alert.svg"},{"id":"229ec36a3a299669","type":"api-call-service","z":"aac55b374d3bd888","name":"Slå på knapp","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.stue_ladestasjon_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":340,"wires":[[]]},{"id":"865856774ed7adca","type":"comment","z":"aac55b374d3bd888","name":"Skru av ladestasjon","info":"Her endrer man navnet på sin ladestasjon.","x":1190,"y":300,"wires":[],"icon":"node-red/alert.svg"},{"id":"116857ced10fcd81","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.arbeidsdag","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":650,"y":200,"wires":[["f15363e34309fcb9"],["f15363e34309fcb9"]],"outputLabels":["Dag","Helg"]},{"id":"a2ca019a9ef555c4","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","info":"Her endrer man navnet på sin arbeidsdag-sensor.\n\nSjekker om det er arbeidsdag eller helgedag.","x":640,"y":160,"wires":[],"icon":"node-red/alert.svg"},{"id":"f15363e34309fcb9","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk bryter er av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.stue_ladestasjon_switch","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":910,"y":200,"wires":[["10bab3271909cb01"],[]],"outputLabels":["Av","På"]},{"id":"ba41c6b61c2777d4","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om ladestasjonen er av","info":"Her endrer man navnet på sin ladestasjon.\n\nSjekker om den er av.","x":940,"y":160,"wires":[],"icon":"node-red/alert.svg"},{"id":"5a9ea501a03c2c52","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk om styring er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.ladestasjon_stue_enable","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":160,"y":300,"wires":[["fa8f3a6d.94aef8","847a186a3cd08c05","ca011d296c751a47","5e5661d03b85ee24"],[]],"outputLabels":["På","Av"]},{"id":"fc55257ea22bc9b2","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om styring er på","info":"Her endrer man navnet på sin styrings-enhet.\n\nDen kan slå av / på alle styringer.","x":160,"y":260,"wires":[],"icon":"node-red/alert.svg"},{"id":"ad8e983f0e8f959e","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","info":"Her endrer man navnet på sin arbeidsdag-sensor.\n\nSjekker om det er arbeidsdag eller helgedag.","x":640,"y":300,"wires":[],"icon":"node-red/alert.svg"},{"id":"6583943ca36f6e0e","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk bryter er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.stue_ladestasjon_switch","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":910,"y":340,"wires":[["229ec36a3a299669"],[]],"outputLabels":["På","Av"]},{"id":"e0bec4fc26a4290b","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om ladestasjonen er på","info":"Her endrer man navnet på sin ladestasjon.\n\nSjekker om den er på.","x":940,"y":300,"wires":[],"icon":"node-red/alert.svg"},{"id":"02e2048ee175a12c","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","info":"Her endrer man navnet på sin arbeidsdag-sensor.\n\nSjekker om det er arbeidsdag eller helgedag.","x":640,"y":400,"wires":[],"icon":"node-red/alert.svg"},{"id":"80bdf6364acab070","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.arbeidsdag","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":650,"y":340,"wires":[["6583943ca36f6e0e"],[]],"outputLabels":["Dag","Helg"]},{"id":"290376598144a099","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.arbeidsdag","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":650,"y":440,"wires":[["6583943ca36f6e0e"],["6583943ca36f6e0e"]],"outputLabels":["Dag","Helg"]},{"id":"e3b86bcfd07d1bb1","type":"inject","z":"aac55b374d3bd888","name":"Sjekk pr min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":140,"y":580,"wires":[["b804d8c45aadc38a"]]},{"id":"3f04240965e81c3a","type":"function","z":"aac55b374d3bd888","name":"Sjekk tid","func":"const states = global.get('homeassistant').homeAssistant.states;\nconst now = new Date();\nconst alarm = states['input_datetime.ladestasjon_tg_on_1'].attributes;\n\nif(now.getHours() === alarm.hour && now.getMinutes() === alarm.minute) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":580,"wires":[["9374fbb17ca5afab"]]},{"id":"58c56091cca5b886","type":"api-call-service","z":"aac55b374d3bd888","name":"Slå på knapp","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.soverom_lading_tg_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":580,"wires":[[]]},{"id":"ba76287f40560a3a","type":"comment","z":"aac55b374d3bd888","name":"Tidspukt PÅ #1","info":"Her endrer man navnet på sin tidsinnput.","x":400,"y":540,"wires":[],"icon":"node-red/alert.svg"},{"id":"9f9fd79108938fd5","type":"comment","z":"aac55b374d3bd888","name":"Sjekk pr min.","info":"","x":130,"y":540,"wires":[],"icon":"node-red-contrib-bigtimer/timer.png"},{"id":"e5c0a8653c736cce","type":"function","z":"aac55b374d3bd888","name":"Sjekk tid","func":"const states = global.get('homeassistant').homeAssistant.states;\nconst now = new Date();\nconst alarm = states['input_datetime.ladestasjon_tg_on_2'].attributes;\n\nif(now.getHours() === alarm.hour && now.getMinutes() === alarm.minute) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":660,"wires":[["9374fbb17ca5afab"]]},{"id":"e8e4464e62d7df85","type":"comment","z":"aac55b374d3bd888","name":"Tidspukt PÅ #2","info":"Her endrer man navnet på sin tidsinnput.","x":400,"y":620,"wires":[],"icon":"node-red/alert.svg"},{"id":"a31e184fc8895657","type":"comment","z":"aac55b374d3bd888","name":"Ladestasjon TG","info":"","x":140,"y":500,"wires":[]},{"id":"699f1ba00814aac1","type":"function","z":"aac55b374d3bd888","name":"Sjekk tid","func":"const states = global.get('homeassistant').homeAssistant.states;\nconst now = new Date();\nconst alarm = states['input_datetime.ladestasjon_tg_off_1'].attributes;\n\nif(now.getHours() === alarm.hour && now.getMinutes() === alarm.minute) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":740,"wires":[["c3b5b52760b6d7c0"]]},{"id":"0d10647d9ba87102","type":"comment","z":"aac55b374d3bd888","name":"Tidspukt AV Dag","info":"Her endrer man navnet på sin tidsinnput.","x":400,"y":700,"wires":[],"icon":"node-red/alert.svg"},{"id":"69a2d191556ed48a","type":"function","z":"aac55b374d3bd888","name":"Sjekk tid","func":"const states = global.get('homeassistant').homeAssistant.states;\nconst now = new Date();\nconst alarm = states['input_datetime.ladestasjon_tg_off_2'].attributes;\n\nif(now.getHours() === alarm.hour && now.getMinutes() === alarm.minute) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":820,"wires":[["01638f6a3b18d2f3"]]},{"id":"ab836b0dc6782e1f","type":"comment","z":"aac55b374d3bd888","name":"Tidspukt AV helg","info":"Her endrer man navnet på sin tidsinnput.","x":400,"y":780,"wires":[],"icon":"node-red/alert.svg"},{"id":"d98819f47cd1ef50","type":"comment","z":"aac55b374d3bd888","name":"Skru på ladestasjon","info":"Her endrer man navnet på sin ladestasjon.","x":1190,"y":540,"wires":[],"icon":"node-red/alert.svg"},{"id":"b79610f9b7faef9d","type":"api-call-service","z":"aac55b374d3bd888","name":"Slå på knapp","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.soverom_lading_tg_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":720,"wires":[[]]},{"id":"a065ea6ece110e82","type":"comment","z":"aac55b374d3bd888","name":"Skru av ladestasjon","info":"Her endrer man navnet på sin ladestasjon.","x":1190,"y":680,"wires":[],"icon":"node-red/alert.svg"},{"id":"9374fbb17ca5afab","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.arbeidsdag","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":650,"y":580,"wires":[["18931727e48c7297"],["18931727e48c7297"]],"outputLabels":["Dag","Helg"]},{"id":"df1336c1b812ebd1","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","info":"Her endrer man navnet på sin arbeidsdag-sensor.\n\nSjekker om det er arbeidsdag eller helgedag.","x":640,"y":540,"wires":[],"icon":"node-red/alert.svg"},{"id":"18931727e48c7297","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk bryter er av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.soverom_lading_tg_switch","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":910,"y":580,"wires":[["58c56091cca5b886"],[]],"outputLabels":["Av","På"]},{"id":"36247eb815dfe60e","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om ladestasjonen er av","info":"Her endrer man navnet på sin ladestasjon.\n\nSjekker om den er av.","x":940,"y":540,"wires":[],"icon":"node-red/alert.svg"},{"id":"b804d8c45aadc38a","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk om styring er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.ladestasjon_tg_enable","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":160,"y":680,"wires":[["3f04240965e81c3a","e5c0a8653c736cce","699f1ba00814aac1","69a2d191556ed48a"],[]],"outputLabels":["På","Av"]},{"id":"a1ef3bddebff685c","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om styring er på","info":"Her endrer man navnet på sin styrings-enhet.\n\nDen kan slå av / på alle styringer.","x":160,"y":640,"wires":[],"icon":"node-red/alert.svg"},{"id":"70ae2dcf3df505e4","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","info":"Her endrer man navnet på sin arbeidsdag-sensor.\n\nSjekker om det er arbeidsdag eller helgedag.","x":640,"y":680,"wires":[],"icon":"node-red/alert.svg"},{"id":"557e7186aac9a500","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk bryter er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.soverom_lading_tg_switch","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":910,"y":720,"wires":[["b79610f9b7faef9d"],[]],"outputLabels":["På","Av"]},{"id":"5fb00e612441e1fe","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om ladestasjonen er på","info":"Her endrer man navnet på sin ladestasjon.\n\nSjekker om den er på.","x":940,"y":680,"wires":[],"icon":"node-red/alert.svg"},{"id":"94cdd95ac39079d2","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","info":"Her endrer man navnet på sin arbeidsdag-sensor.\n\nSjekker om det er arbeidsdag eller helgedag.","x":640,"y":780,"wires":[],"icon":"node-red/alert.svg"},{"id":"c3b5b52760b6d7c0","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.arbeidsdag","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":650,"y":720,"wires":[["557e7186aac9a500"],[]],"outputLabels":["Dag","Helg"]},{"id":"01638f6a3b18d2f3","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.arbeidsdag","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":650,"y":820,"wires":[["557e7186aac9a500"],["557e7186aac9a500"]],"outputLabels":["Dag","Helg"]},{"id":"327c5f4069ee0173","type":"inject","z":"aac55b374d3bd888","name":"Sjekk pr min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":140,"y":980,"wires":[["01a2ca0575d8de09"]]},{"id":"7f894ddb0e7c236e","type":"function","z":"aac55b374d3bd888","name":"Sjekk tid","func":"const states = global.get('homeassistant').homeAssistant.states;\nconst now = new Date();\nconst alarm = states['input_datetime.ladestasjon_silje_on_1'].attributes;\n\nif(now.getHours() === alarm.hour && now.getMinutes() === alarm.minute) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":980,"wires":[["4379794679f2eb1d"]]},{"id":"f1420725487f0e63","type":"api-call-service","z":"aac55b374d3bd888","name":"Slå på knapp","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.soverom_lading_silje_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":980,"wires":[[]]},{"id":"fcf4d17534f65364","type":"comment","z":"aac55b374d3bd888","name":"Tidspukt PÅ #1","info":"Her endrer man navnet på sin tidsinnput.","x":400,"y":940,"wires":[],"icon":"node-red/alert.svg"},{"id":"e1dbcd741da5d3c6","type":"comment","z":"aac55b374d3bd888","name":"Sjekk pr min.","info":"","x":130,"y":940,"wires":[],"icon":"node-red-contrib-bigtimer/timer.png"},{"id":"6b349606e373be69","type":"function","z":"aac55b374d3bd888","name":"Sjekk tid","func":"const states = global.get('homeassistant').homeAssistant.states;\nconst now = new Date();\nconst alarm = states['input_datetime.ladestasjon_silje_on_2'].attributes;\n\nif(now.getHours() === alarm.hour && now.getMinutes() === alarm.minute) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1060,"wires":[["4379794679f2eb1d"]]},{"id":"acc4477c67fd2148","type":"comment","z":"aac55b374d3bd888","name":"Tidspukt PÅ #2","info":"Her endrer man navnet på sin tidsinnput.","x":400,"y":1020,"wires":[],"icon":"node-red/alert.svg"},{"id":"4db93498c6e0bca4","type":"comment","z":"aac55b374d3bd888","name":"Ladestasjon Silje","info":"","x":140,"y":900,"wires":[]},{"id":"6dca2cd2517f3381","type":"function","z":"aac55b374d3bd888","name":"Sjekk tid","func":"const states = global.get('homeassistant').homeAssistant.states;\nconst now = new Date();\nconst alarm = states['input_datetime.ladestasjon_silje_off_1'].attributes;\n\nif(now.getHours() === alarm.hour && now.getMinutes() === alarm.minute) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1140,"wires":[["d3d5cb38ebe8870c"]]},{"id":"6a6616ffa5724307","type":"comment","z":"aac55b374d3bd888","name":"Tidspukt AV Dag","info":"Her endrer man navnet på sin tidsinnput.","x":400,"y":1100,"wires":[],"icon":"node-red/alert.svg"},{"id":"67d6c5f8b2a3d32e","type":"function","z":"aac55b374d3bd888","name":"Sjekk tid","func":"const states = global.get('homeassistant').homeAssistant.states;\nconst now = new Date();\nconst alarm = states['input_datetime.ladestasjon_silje_off_2'].attributes;\n\nif(now.getHours() === alarm.hour && now.getMinutes() === alarm.minute) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1220,"wires":[["3ff4dfdecc24bd8a"]]},{"id":"3b47c501c7e4cfbd","type":"comment","z":"aac55b374d3bd888","name":"Tidspukt AV helg","info":"Her endrer man navnet på sin tidsinnput.","x":400,"y":1180,"wires":[],"icon":"node-red/alert.svg"},{"id":"89e4bf7d964a70c5","type":"api-call-service","z":"aac55b374d3bd888","name":"Slå på knapp","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.soverom_lading_silje_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":1120,"wires":[[]]},{"id":"4379794679f2eb1d","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.arbeidsdag","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":650,"y":980,"wires":[["0d37e1b6794226dc"],["0d37e1b6794226dc"]],"outputLabels":["Dag","Helg"]},{"id":"fac020a245e24ef1","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","info":"Her endrer man navnet på sin arbeidsdag-sensor.\n\nSjekker om det er arbeidsdag eller helgedag.","x":640,"y":940,"wires":[],"icon":"node-red/alert.svg"},{"id":"0d37e1b6794226dc","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk bryter er av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.soverom_lading_silje_switch","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":910,"y":980,"wires":[["f1420725487f0e63"],[]],"outputLabels":["Av","På"]},{"id":"2091c88583d25f81","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om ladestasjonen er av","info":"Her endrer man navnet på sin ladestasjon.\n\nSjekker om den er av.","x":940,"y":940,"wires":[],"icon":"node-red/alert.svg"},{"id":"01a2ca0575d8de09","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk om styring er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.ladestasjon_silje_enable","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":160,"y":1080,"wires":[["7f894ddb0e7c236e","6b349606e373be69","6dca2cd2517f3381","67d6c5f8b2a3d32e"],[]],"outputLabels":["På","Av"]},{"id":"b0476927496143e3","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om styring er på","info":"Her endrer man navnet på sin styrings-enhet.\n\nDen kan slå av / på alle styringer.","x":160,"y":1040,"wires":[],"icon":"node-red/alert.svg"},{"id":"473996d53d6c25b2","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","info":"Her endrer man navnet på sin arbeidsdag-sensor.\n\nSjekker om det er arbeidsdag eller helgedag.","x":640,"y":1080,"wires":[],"icon":"node-red/alert.svg"},{"id":"d16dd50f05d4be7e","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk bryter er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.soverom_lading_silje_switch","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":910,"y":1120,"wires":[["89e4bf7d964a70c5"],[]],"outputLabels":["På","Av"]},{"id":"38bec7ba01f15ba8","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om ladestasjonen er på","info":"Her endrer man navnet på sin ladestasjon.\n\nSjekker om den er på.","x":940,"y":1080,"wires":[],"icon":"node-red/alert.svg"},{"id":"777ce7a3b34cac85","type":"comment","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","info":"Her endrer man navnet på sin arbeidsdag-sensor.\n\nSjekker om det er arbeidsdag eller helgedag.","x":640,"y":1180,"wires":[],"icon":"node-red/alert.svg"},{"id":"d3d5cb38ebe8870c","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.arbeidsdag","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":650,"y":1120,"wires":[["d16dd50f05d4be7e"],[]],"outputLabels":["Dag","Helg"]},{"id":"3ff4dfdecc24bd8a","type":"api-current-state","z":"aac55b374d3bd888","name":"Sjekk om det er dag eller helg","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.arbeidsdag","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":650,"y":1220,"wires":[["d16dd50f05d4be7e"],["d16dd50f05d4be7e"]],"outputLabels":["Dag","Helg"]},{"id":"342289dd4b2efcc3","type":"comment","z":"aac55b374d3bd888","name":"Skru av ladestasjon","info":"Her endrer man navnet på sin ladestasjon.","x":1190,"y":1080,"wires":[],"icon":"node-red/alert.svg"},{"id":"82b30c5768e5c82e","type":"comment","z":"aac55b374d3bd888","name":"Skru på ladestasjon","info":"Her endrer man navnet på sin ladestasjon.","x":1190,"y":940,"wires":[],"icon":"node-red/alert.svg"},{"id":"b6ae3012.c9a4f","type":"server","name":"homeAssistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
