node-red/node_red-bil.flow
[{"id":"932382cc42718150","type":"tab","label":"BIL","disabled":false,"info":"","env":[]},{"id":"1d8b08493f98a6e6","type":"comment","z":"932382cc42718150","name":"SV39840 - Sensorer","info":"","x":150,"y":120,"wires":[]},{"id":"06ea95215c07a451","type":"comment","z":"932382cc42718150","name":"Beskrivelse av styringen","info":"# node_red-bil\n// Tor Gaute Lien - Versjon 1.0 - 15/01-22\n// \n// **BESKRIVELSE**\n//\n// Automasjon som henter verdier fra sensorer laget i packages_bil\n// \n// Regner ut antall dager til neste EU-kontroll, antall KM igjen på forsikringen\n// og antall KM igjen til neste service\n// \n// Du har input hvor du skriver inn følgende:\n// Regnummer (Sensorene vil hete regnummeret til slutt i MQTT)\n// Dato for neste EU-kontroll / Dato forsikringsperioden begynner\n// KM-stand bil (Til utregning etc brukes  sensor-input slik at man kan senere legge inn tracker)\n// KM når forsikrings-perioden startet\n// Hvor mange KM som er i forsikringsavtalen din\n// KM når du sist hadde service\n// Hvor mange KM til neste service\n// \n// Du vil da oppdatere følgende sensorer:\n// Sensor som regner hvor mange dager det er til neste EU-kontroll (-dager om overskredet)\n// Sensor som regner hvor mange dager du har igjen av forsikringsperioden (automatisk ved årsskifte)\n// Sensor som gir deg KM gjenstående (regnes automatisk fra periodestart i år minus KM-stand)\n// Sensor gom gir deg KM gjenstående før neste service (regnes fra forrige service + serviceintervall)\n//\n// **ENHETER BRUKT**\n// \n// Her har jeg følgende devicer (per bil):\n// \n// Home Assistant devicer:\n// Input Datetime som gir to datoer (EU og forsikringsstart)\n// Input Number som gir KM-stand\n// Input Number som gir KM-stand forsikring start\n// Input Number som gir KM-stand forsikring intervall\n// Input Number som gir KM-stand service sist\n// Input Number som gir KM-stand service intervall\n// Sensor som gir KM-stand fra Input Number\n// Sensor som gir antall dager til EU-kontroll\n// Sensor som gir antall dager igjen i forsrikringsperioden\n// Sensor som gir antall KM igjen i forsikring (totalt)\n// Sensor som gir antall KM igjen til neste service\n// \n// **TING SOM EVENTUELT TRENGS**\n// \n// * Jeg bruker en egen pakke \"packages-bil\" som gir Home Assistant devicene","x":170,"y":40,"wires":[]},{"id":"33ca2eb2b703e2ae","type":"comment","z":"932382cc42718150","name":"Sjekk pr min.","info":"","x":130,"y":160,"wires":[],"icon":"node-red-contrib-bigtimer/timer.png"},{"id":"4a2130193f9a0d01","type":"function","z":"932382cc42718150","name":"Legg inn info + Beskrivelse","func":"// Bil\n// Tor Gaute Lien - Versjon 1.0 - 15/1-22\n\n// Automasjon som henter verdier fra sensorer laget i packages_bil\n// \n// Regner ut antall dager til neste EU-kontroll, antall KM igjen på forsikringen\n// og antall KM igjen til neste service\n// \n// Du har input hvor du skriver inn følgende:\n// Regnummer (Sensorene vil hete regnummeret til slutt i MQTT)\n// Dato for neste EU-kontroll / Dato forsikringsperioden begynner\n// KM-stand bil (Til utregning etc brukes  sensor-input slik at man kan senere legge inn tracker)\n// KM når forsikrings-perioden startet\n// Hvor mange KM som er i forsikringsavtalen din\n// KM når du sist hadde service\n// Hvor mange KM til neste service\n// \n// Du vil da oppdatere følgende sensorer:\n// Sensor som regner hvor mange dager det er til neste EU-kontroll (-dager om overskredet)\n// Sensor som regner hvor mange dager du har igjen av forsikringsperioden (automatisk ved årsskifte)\n// Sensor som gir deg KM gjenstående (regnes automatisk fra periodestart i år minus KM-stand)\n// Sensor gom gir deg KM gjenstående før neste service (regnes fra forrige service + serviceintervall)\n// \n// \n// \n// \n// \n// \n//\n//\n\n// BIL - Dett er sensorene til en bil under her kan du legge inn dine enheter\n\n// Skriv inn ditt registreringsnummer her\nconst regnummer = \"SV39840\";\n\n// Skriv inn navnet på input_datetime til datoen du hadde EU-kontroll her\nconst eu_kontroll_dato_input = \"input_datetime.bil_sv39840_eu_kontroll_dato\";\n\n// Skriv inn navnet på input_datetime til datoen forsikringen går fra her\nconst forsikring_dato_input = \"input_datetime.bil_sv39840_forsikring_dato\";\n\n// Skriv inn navnet på sensoren til bilens KM-stand her\nconst kmstand_input = \"sensor.bil_sv39840_kmstand\";\n\n// Skriv inn navnet på input_number til forsikringsperiodens KM-start her\nconst forsikring_kmstand_input = \"input_number.bil_sv39840_forsikring_kmstand\";\n\n// Skriv inn navnet på input_number til forsikringsperiodens KM her\nconst forsikring_intervall_input = \"input_number.bil_sv39840_forsikring_intervall\";\n\n// Skriv inn navnet på input_number til KM-stand sist service her\nconst service_kmstand_input = \"input_number.bil_sv39840_service_kmstand\";\n\n// Skriv inn navnet på input_number til serviceintervall-KM her\nconst service_intervall_input = \"input_number.bil_sv39840_service_intervall\";\n\n// Skriv inn navnet på sensoren til bilens EU Kontroll dager her\nconst eu_kontroll_dager_input = \"sensor.bil_sv39840_eu_kontroll_dager\"; \n\n// Skriv inn navnet på sensoren til bilens Forsikring dager her\nconst forsikring_dager_input = \"sensor.bil_sv39840_forsikring_dager\"; \n\n// Skriv inn navnet på sensoren til bilens Forsikring KM-stand igjen her\nconst forsikring_kmstand_igjen_input = \"sensor.bil_sv39840_forsikring_kmstand_igjen\"; \n\n// Skriv inn navnet på sensoren til bilens Service KM-stand igjen her\nconst service_kmstand_igjen_input = \"sensor.bil_sv39840_service_kmstand_igjen\"; \n\n\n\n// ------------- IKKE ENDRE UNDER HER\n\n\n\n//Henter inn states fra HA (IKKE ENDRE)\nconst states = global.get('homeassistant').homeAssistant.states; // Min Home Assistant heter homeAssistant som node\n\n// Henter verdier fra sensorene\nvar eu_kontroll_dato = states[eu_kontroll_dato_input].state;\nvar forsikring_dato = states[forsikring_dato_input].state;\nvar kmstand = states[kmstand_input].state;\nvar forsikring_kmstand = states[forsikring_kmstand_input].state;\nvar forsikring_intervall = states[forsikring_intervall_input].state;\nvar service_kmstand = states[service_kmstand_input].state;\nvar service_intervall = states[service_intervall_input].state;\nvar eu_kontroll_dager = states[eu_kontroll_dager_input].state;\nvar forsikring_dager = states[forsikring_dager_input].state;\nvar forsikring_kmstand_igjen = states[forsikring_kmstand_igjen_input].state;\nvar service_kmstand_igjen = states[service_kmstand_igjen_input].state;\n\n// Sender verdiene ut som beskjeder\nmsg.regnummer = regnummer\nmsg.eu_kontroll_dato = eu_kontroll_dato\nmsg.forsikring_dato = forsikring_dato\nmsg.kmstand = kmstand\nmsg.forsikring_kmstand = forsikring_kmstand\nmsg.forsikring_intervall = forsikring_intervall\nmsg.service_kmstand = service_kmstand\nmsg.service_intervall = service_intervall\nmsg.eu_kontroll_dager = eu_kontroll_dager\nmsg.forsikring_dager = forsikring_dager\nmsg.forsikring_kmstand_igjen = forsikring_kmstand_igjen\nmsg.service_kmstand_igjen = service_kmstand_igjen\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":200,"wires":[["3406d66e04e1b6c2","eb76d49778f55e9b","851595d41e9b9606","be95a89016c62973"]],"outputLabels":["Debug"]},{"id":"c294c27135a734b5","type":"mqtt out","z":"932382cc42718150","name":"","topic":"","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c50624a.016f3d8","x":890,"y":200,"wires":[]},{"id":"3406d66e04e1b6c2","type":"function","z":"932382cc42718150","name":"Service igjen","func":"// Lage sensor KM-stand igjen service\n// Oppdaterer bare ved endring\nvar msg1 = { };\n\nconst regnummer = msg.regnummer;\nconst kmstand = msg.kmstand;\nconst service_kmstand = msg.service_kmstand;\nconst service_kmstand_igjen = msg.service_kmstand_igjen;\nconst service_intervall = msg.service_intervall;\n\nvar service_utregning = +service_kmstand + +service_intervall\nvar service_kmstand_igjen_update = service_utregning - kmstand\n\nif (service_kmstand_igjen == service_kmstand_igjen_update) {\n    \n} else {var endret = true}\n\nif (endret == true) {\n    msg1.payload = service_kmstand_igjen_update;\n    msg1.topic = \"home/sensor/bil/service/kmstand_igjen/\" + regnummer;\n    return [msg1];\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":240,"wires":[["c294c27135a734b5"]]},{"id":"eb76d49778f55e9b","type":"function","z":"932382cc42718150","name":"EU dager","func":"// Lage sensor EU dager\n// Oppdaterer bare ved endring\nvar msg1 = { };\n\nconst regnummer = msg.regnummer;\nconst eu_kontroll_dato = msg.eu_kontroll_dato;\nconst eu_kontroll_dager = msg.eu_kontroll_dager;\n\n//Funksjon for å bergene dager (dayCount) -> Dager fremover i tid er positive til //<---\nvar d1 = new Date(eu_kontroll_dato);\nvar d2 = new Date();\nvar diff = d1 - d2;\ndayCount = diff / ( 60 * 60 * 24 * 1000 ); // secs * mins * hours * milliseconds\ndayCount = Math.round( dayCount ); // Dette er taggen som brukes --> Legg til +1 dag!\n//<--- Slutt på tidsregning\n\nif (eu_kontroll_dager == (dayCount + 1 )) {\n    \n} else {var endret = true}\n\nif (endret == true) {\n    msg1.payload = dayCount+1;\n    msg1.topic = \"home/sensor/bil/eu_kontroll/dager/\" + regnummer;\n    return [msg1];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":280,"wires":[["c294c27135a734b5"]]},{"id":"9702a8ad1d6ac331","type":"inject","z":"932382cc42718150","name":"","props":[{"p":"payload"},{"p":"eu_kontroll_dato","v":"2022-01-15","vt":"str"},{"p":"regnummer","v":"SV39840","vt":"str"},{"p":"eu_kontroll_dager","v":"75","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":300,"wires":[["eb76d49778f55e9b"]]},{"id":"851595d41e9b9606","type":"function","z":"932382cc42718150","name":"Forsikring dager","func":"// Lage sensor Forsikring dager\n// Oppdaterer bare ved endring\nvar msg1 = { };\n\nconst regnummer = msg.regnummer;\nconst forsikring_dato = msg.forsikring_dato;\nconst forsikring_dager = msg.forsikring_dager;\n\n// Tidsregning for å finne antall dager til neste dato //<---\nvar today, telledato, day, month, telledag, diff, days;\ntoday = new Date();\ntelledato = new Date(forsikring_dato); // Legg inn dato-input her\nday = telledato.getDate()\nmonth = telledato.getMonth()\ntelledag = new Date(today.getFullYear(),month,day+1);\nif( today.getTime() > telledag.getTime()) {\n    telledag.setFullYear(telledag.getFullYear()+1);\n}\ndiff = telledag.getTime()-today.getTime();\ndays = Math.floor(diff/(1000*60*60*24)); // Dette er taggen som brukes\n//<--- Slutt på tidsregning\n\nif (forsikring_dager == days) {\n    \n} else {var endret = true}\n\nif (endret == true) {\n    msg1.payload = days;\n    msg1.topic = \"home/sensor/bil/forsikring/dager/\" + regnummer;\n    return [msg1];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":320,"wires":[["c294c27135a734b5"]]},{"id":"eea37fda0f8b797d","type":"inject","z":"932382cc42718150","name":"","props":[{"p":"payload"},{"p":"regnummer","v":"SV39840","vt":"str"},{"p":"kmstand","v":"175000","vt":"str"},{"p":"service_kmstand","v":"150000","vt":"str"},{"p":"service_kmstand_igjen","v":"-25000","vt":"str"},{"p":"service_intervall","v":"15000","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":260,"wires":[["3406d66e04e1b6c2"]]},{"id":"be95a89016c62973","type":"function","z":"932382cc42718150","name":"Forsikring igjen","func":"// Lage sensor KM-stand igjen forsikring\n// Oppdaterer bare ved endring\nvar msg1 = { };\n\nconst regnummer = msg.regnummer;\nconst kmstand = msg.kmstand;\nconst forsikring_dato = msg.forsikring_dato;\nconst forsikring_kmstand = msg.forsikring_kmstand;\nconst forsikring_kmstand_igjen = msg.forsikring_kmstand_igjen;\nconst forsikring_intervall = msg.forsikring_intervall;\n\n\n//Funksjon for å bergene dager (dayCount) -> Dager fremover i tid er negative til //<---\nvar d2 = new Date(forsikring_dato);\nvar d1 = new Date();\nvar diff = d1 - d2;\ndayCount = diff / ( 60 * 60 * 24 * 1000 ); // secs * mins * hours * milliseconds\ndayCount = Math.round( dayCount ); // Dette er taggen som brukes --> Legg til -1 dag!\nvar dayCount = dayCount-1\n//<--- Slutt på tidsregning\n\nvar antall = Math.floor(+dayCount/365)\n\nvar forsikring_kmstand_igjen_update = ((+forsikring_kmstand + +forsikring_intervall + (antall * +forsikring_intervall)) - +kmstand)\n\nif (forsikring_kmstand_igjen == forsikring_kmstand_igjen_update) {} else {var endret = true}\n\nif (endret == true) {\n    msg1.payload = forsikring_kmstand_igjen_update;\n    msg1.topic = \"home/sensor/bil/forsikring/kmstand_igjen/\" + regnummer;\n    node.send([msg1]);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":200,"wires":[["c294c27135a734b5"]]},{"id":"a3b2da7b04361270","type":"inject","z":"932382cc42718150","name":"Sjekk pr min","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":200,"wires":[["4a2130193f9a0d01"]]},{"id":"e003faf02eeaf630","type":"comment","z":"932382cc42718150","name":"Legg inn info + Beskrivelse","info":"","x":370,"y":160,"wires":[],"icon":"node-red/alert.svg"},{"id":"487e707ed51c658d","type":"comment","z":"932382cc42718150","name":"Sjekker sensorer og oppdaterer","info":"","x":690,"y":160,"wires":[]},{"id":"79152e0178ab7184","type":"comment","z":"932382cc42718150","name":"Sender til MQTT","info":"Her må du legge inn serveren din.\nDu må også legge inn brukernavn og passord til MQTT-serveren din!","x":920,"y":160,"wires":[],"icon":"node-red/alert.svg"},{"id":"298f2fe0ba059c16","type":"comment","z":"932382cc42718150","name":"JV14453 - Sensorer","info":"","x":150,"y":420,"wires":[]},{"id":"709eedee40b65031","type":"comment","z":"932382cc42718150","name":"Sjekk pr min.","info":"","x":130,"y":460,"wires":[],"icon":"node-red-contrib-bigtimer/timer.png"},{"id":"a58a8af878c6bc3b","type":"function","z":"932382cc42718150","name":"Legg inn info + Beskrivelse","func":"// Bil\n// Tor Gaute Lien - Versjon 1.0\n\n// Automasjon som henter verdier fra sensorer laget i packages_bil\n// \n// Regner ut antall dager til neste EU-kontroll, antall KM igjen på forsikringen\n// og antall KM igjen til neste service\n// \n// Du har input hvor du skriver inn følgende:\n// Regnummer (Sensorene vil hete regnummeret til slutt i MQTT)\n// Dato for neste EU-kontroll / Dato forsikringsperioden begynner\n// KM-stand bil (Til utregning etc brukes  sensor-input slik at man kan senere legge inn tracker)\n// KM når forsikrings-perioden startet\n// Hvor mange KM som er i forsikringsavtalen din\n// KM når du sist hadde service\n// Hvor mange KM til neste service\n// \n// Du vil da oppdatere følgende sensorer:\n// Sensor som regner hvor mange dager det er til neste EU-kontroll (-dager om overskredet)\n// Sensor som regner hvor mange dager du har igjen av forsikringsperioden (automatisk ved årsskifte)\n// Sensor som gir deg KM gjenstående (regnes automatisk fra periodestart i år minus KM-stand)\n// Sensor gom gir deg KM gjenstående før neste service (regnes fra forrige service + serviceintervall)\n// \n// \n// \n// \n// \n// \n//\n//\n\n// BIL - Dett er sensorene til en bil under her kan du legge inn dine enheter\n\n// Skriv inn ditt registreringsnummer her\nconst regnummer = \"JV14453\";\n\n// Skriv inn navnet på input_datetime til datoen du hadde EU-kontroll her\nconst eu_kontroll_dato_input = \"input_datetime.bil_jv14453_eu_kontroll_dato\";\n\n// Skriv inn navnet på input_datetime til datoen forsikringen går fra her\nconst forsikring_dato_input = \"input_datetime.bil_jv14453_forsikring_dato\";\n\n// Skriv inn navnet på sensoren til bilens KM-stand her\nconst kmstand_input = \"sensor.bil_jv14453_kmstand\";\n\n// Skriv inn navnet på input_number til forsikringsperiodens KM-start her\nconst forsikring_kmstand_input = \"input_number.bil_jv14453_forsikring_kmstand\";\n\n// Skriv inn navnet på input_number til forsikringsperiodens KM her\nconst forsikring_intervall_input = \"input_number.bil_jv14453_forsikring_intervall\";\n\n// Skriv inn navnet på input_number til KM-stand sist service her\nconst service_kmstand_input = \"input_number.bil_jv14453_service_kmstand\";\n\n// Skriv inn navnet på input_number til serviceintervall-KM her\nconst service_intervall_input = \"input_number.bil_jv14453_service_intervall\";\n\n// Skriv inn navnet på sensoren til bilens EU Kontroll dager her\nconst eu_kontroll_dager_input = \"sensor.bil_jv14453_eu_kontroll_dager\"; \n\n// Skriv inn navnet på sensoren til bilens Forsikring dager her\nconst forsikring_dager_input = \"sensor.bil_jv14453_forsikring_dager\"; \n\n// Skriv inn navnet på sensoren til bilens Forsikring KM-stand igjen her\nconst forsikring_kmstand_igjen_input = \"sensor.bil_jv14453_forsikring_kmstand_igjen\"; \n\n// Skriv inn navnet på sensoren til bilens Service KM-stand igjen her\nconst service_kmstand_igjen_input = \"sensor.bil_jv14453_service_kmstand_igjen\"; \n\n\n\n// ------------- IKKE ENDRE UNDER HER\n\n\n\n//Henter inn states fra HA (IKKE ENDRE)\nconst states = global.get('homeassistant').homeAssistant.states; // Min Home Assistant heter homeAssistant som node\n\n// Henter verdier fra sensorene\nvar eu_kontroll_dato = states[eu_kontroll_dato_input].state;\nvar forsikring_dato = states[forsikring_dato_input].state;\nvar kmstand = states[kmstand_input].state;\nvar forsikring_kmstand = states[forsikring_kmstand_input].state;\nvar forsikring_intervall = states[forsikring_intervall_input].state;\nvar service_kmstand = states[service_kmstand_input].state;\nvar service_intervall = states[service_intervall_input].state;\nvar eu_kontroll_dager = states[eu_kontroll_dager_input].state;\nvar forsikring_dager = states[forsikring_dager_input].state;\nvar forsikring_kmstand_igjen = states[forsikring_kmstand_igjen_input].state;\nvar service_kmstand_igjen = states[service_kmstand_igjen_input].state;\n\n// Sender verdiene ut som beskjeder\nmsg.regnummer = regnummer\nmsg.eu_kontroll_dato = eu_kontroll_dato\nmsg.forsikring_dato = forsikring_dato\nmsg.kmstand = kmstand\nmsg.forsikring_kmstand = forsikring_kmstand\nmsg.forsikring_intervall = forsikring_intervall\nmsg.service_kmstand = service_kmstand\nmsg.service_intervall = service_intervall\nmsg.eu_kontroll_dager = eu_kontroll_dager\nmsg.forsikring_dager = forsikring_dager\nmsg.forsikring_kmstand_igjen = forsikring_kmstand_igjen\nmsg.service_kmstand_igjen = service_kmstand_igjen\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":500,"wires":[["4a42b6ffccfa0c70","bc94a113400bc7f6","35243ae6fc5b551b","701fa9febf5d4b77"]],"outputLabels":["Debug"]},{"id":"55fb89419408638e","type":"mqtt out","z":"932382cc42718150","name":"","topic":"","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c50624a.016f3d8","x":890,"y":500,"wires":[]},{"id":"4a42b6ffccfa0c70","type":"function","z":"932382cc42718150","name":"Service igjen","func":"// Lage sensor KM-stand igjen service\n// Oppdaterer bare ved endring\nvar msg1 = { };\n\nconst regnummer = msg.regnummer;\nconst kmstand = msg.kmstand;\nconst service_kmstand = msg.service_kmstand;\nconst service_kmstand_igjen = msg.service_kmstand_igjen;\nconst service_intervall = msg.service_intervall;\n\nvar service_utregning = +service_kmstand + +service_intervall\nvar service_kmstand_igjen_update = service_utregning - kmstand\n\nif (service_kmstand_igjen == service_kmstand_igjen_update) {\n    \n} else {var endret = true}\n\nif (endret == true) {\n    msg1.payload = service_kmstand_igjen_update;\n    msg1.topic = \"home/sensor/bil/service/kmstand_igjen/\" + regnummer;\n    return [msg1];\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":540,"wires":[["55fb89419408638e"]]},{"id":"bc94a113400bc7f6","type":"function","z":"932382cc42718150","name":"EU dager","func":"// Lage sensor EU dager\n// Oppdaterer bare ved endring\nvar msg1 = { };\n\nconst regnummer = msg.regnummer;\nconst eu_kontroll_dato = msg.eu_kontroll_dato;\nconst eu_kontroll_dager = msg.eu_kontroll_dager;\n\n//Funksjon for å bergene dager (dayCount) -> Dager fremover i tid er positive til //<---\nvar d1 = new Date(eu_kontroll_dato);\nvar d2 = new Date();\nvar diff = d1 - d2;\ndayCount = diff / ( 60 * 60 * 24 * 1000 ); // secs * mins * hours * milliseconds\ndayCount = Math.round( dayCount ); // Dette er taggen som brukes --> Legg til +1 dag!\n//<--- Slutt på tidsregning\n\nif (eu_kontroll_dager == (dayCount + 1 )) {\n    \n} else {var endret = true}\n\nif (endret == true) {\n    msg1.payload = dayCount+1;\n    msg1.topic = \"home/sensor/bil/eu_kontroll/dager/\" + regnummer;\n    return [msg1];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":580,"wires":[["55fb89419408638e"]]},{"id":"35243ae6fc5b551b","type":"function","z":"932382cc42718150","name":"Forsikring dager","func":"// Lage sensor Forsikring dager\n// Oppdaterer bare ved endring\nvar msg1 = { };\n\nconst regnummer = msg.regnummer;\nconst forsikring_dato = msg.forsikring_dato;\nconst forsikring_dager = msg.forsikring_dager;\n\n// Tidsregning for å finne antall dager til neste dato //<---\nvar today, telledato, day, month, telledag, diff, days;\ntoday = new Date();\ntelledato = new Date(forsikring_dato); // Legg inn dato-input her\nday = telledato.getDate()\nmonth = telledato.getMonth()\ntelledag = new Date(today.getFullYear(),month,day+1);\nif( today.getTime() > telledag.getTime()) {\n    telledag.setFullYear(telledag.getFullYear()+1);\n}\ndiff = telledag.getTime()-today.getTime();\ndays = Math.floor(diff/(1000*60*60*24)); // Dette er taggen som brukes\n//<--- Slutt på tidsregning\n\nif (forsikring_dager == days) {\n    \n} else {var endret = true}\n\nif (endret == true) {\n    msg1.payload = days;\n    msg1.topic = \"home/sensor/bil/forsikring/dager/\" + regnummer;\n    return [msg1];\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":620,"wires":[["55fb89419408638e"]]},{"id":"701fa9febf5d4b77","type":"function","z":"932382cc42718150","name":"Forsikring igjen","func":"// Lage sensor KM-stand igjen forsikring\n// Oppdaterer bare ved endring\nvar msg1 = { };\n\nconst regnummer = msg.regnummer;\nconst kmstand = msg.kmstand;\nconst forsikring_dato = msg.forsikring_dato;\nconst forsikring_kmstand = msg.forsikring_kmstand;\nconst forsikring_kmstand_igjen = msg.forsikring_kmstand_igjen;\nconst forsikring_intervall = msg.forsikring_intervall;\n\n\n//Funksjon for å bergene dager (dayCount) -> Dager fremover i tid er negative til //<---\nvar d2 = new Date(forsikring_dato);\nvar d1 = new Date();\nvar diff = d1 - d2;\ndayCount = diff / ( 60 * 60 * 24 * 1000 ); // secs * mins * hours * milliseconds\ndayCount = Math.round( dayCount ); // Dette er taggen som brukes --> Legg til -1 dag!\nvar dayCount = dayCount-1\n//<--- Slutt på tidsregning\n\nvar antall = Math.floor(+dayCount/365)\n\nvar forsikring_kmstand_igjen_update = ((+forsikring_kmstand + +forsikring_intervall + (antall * +forsikring_intervall)) - +kmstand)\n\nif (forsikring_kmstand_igjen == forsikring_kmstand_igjen_update) {} else {var endret = true}\n\nif (endret == true) {\n    msg1.payload = forsikring_kmstand_igjen_update;\n    msg1.topic = \"home/sensor/bil/forsikring/kmstand_igjen/\" + regnummer;\n    node.send([msg1]);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":500,"wires":[["55fb89419408638e"]]},{"id":"17b9dff23bb97ba7","type":"inject","z":"932382cc42718150","name":"Sjekk pr min","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":500,"wires":[["a58a8af878c6bc3b"]]},{"id":"fa909449d05a21f7","type":"comment","z":"932382cc42718150","name":"Legg inn info + Beskrivelse","info":"","x":370,"y":460,"wires":[],"icon":"node-red/alert.svg"},{"id":"83f77478d19b5aff","type":"comment","z":"932382cc42718150","name":"Sjekker sensorer og oppdaterer","info":"","x":690,"y":460,"wires":[]},{"id":"e05b966b7d53b5f6","type":"comment","z":"932382cc42718150","name":"Sender til MQTT","info":"Her må du legge inn serveren din.\nDu må også legge inn brukernavn og passord til MQTT-serveren din!","x":920,"y":460,"wires":[],"icon":"node-red/alert.svg"},{"id":"c50624a.016f3d8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
