node-red/node_red-kinomodus.flow
[{"id":"f40e1a11686c876e","type":"tab","label":"Kinomodus","disabled":false,"info":"","env":[]},{"id":"af7d94e2369c7686","type":"comment","z":"f40e1a11686c876e","name":"Beskrivelse av styringen","info":"# node_red-kinomodus\n// Tor Gaute Lien - Versjon 1.0 - 31/12-21\n// Ny\n// \n// **BESKRIVELSE**\n// \n// Når Kinomodus aktiveres så slås knappen automatisk av etter to \n// timer.\n// \n// Kinomodus aktiverer Overstyring (Stue / Kjøkken) (Input Boolean) og // starter timer for å overstyre (Stue / Kjøkken) i to timer. \n// \n// Når knappen slås av aktiveres avslutning på timere (Stue / Kjøkken) // slik at overstyring stopper.\n// \n// **ENHETER BRUKT**\n// \n// Her bruker jeg følgende devicer:\n// \n// Home Assistant devicer:\n// Input Boolean kalt Kinomodus\n// Switch kalt Kinomodus\n// \n// **TING SOM EVENTUELT TRENGS**\n// \n// * Jeg bruker en egen pakke \"Kinomodus\" som gir Kinomodus (Input \n//   Boolean og Switch)\n// * Jeg bruker en egen pakke \"Overstyring Lys\" som gir de enhetene\n// * Jeg bruker en egen flow \"Overstyring Lysstyring\" som kan \n//   overstyre lysstyringen\n// * Jeg bruker en egen flow for lys i Stue og egen på Kjøkken\n\nTing med UTROPSTEGN (!) sier at du MÅ endre navn på device!","x":170,"y":40,"wires":[]},{"id":"a80bfc9454ebbf8f","type":"server-state-changed","z":"f40e1a11686c876e","name":"Knapp slås på","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.kinomodus_knapp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":160,"wires":[["394583b9294103b6","4033c4171bbf7673","903cb8df6233afe1"],["afe275447af5d9bd"]]},{"id":"bc2aaa71d86cdba2","type":"comment","z":"f40e1a11686c876e","name":"Sjekk endring tid","info":"Her endrer man navnet på sin kinomodus-enhet.","x":140,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"c9b8fab5b768ba97","type":"api-call-service","z":"f40e1a11686c876e","name":"Slå av knapp","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.kinomodus_knapp","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":160,"wires":[[]]},{"id":"8315411751d4840b","type":"comment","z":"f40e1a11686c876e","name":"Slå av knapp","info":"Her endrer man navnet på sin kinomodus-enhet.","x":590,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"394583b9294103b6","type":"stoptimer","z":"f40e1a11686c876e","duration":"2","units":"Hour","payloadtype":"str","payloadval":"on","name":"2 timer","x":350,"y":160,"wires":[["c9b8fab5b768ba97"],[]],"outputLabels":["","On"]},{"id":"1d9e45dcfa4fdffc","type":"comment","z":"f40e1a11686c876e","name":"Timer","info":"Her settes en timer.\n\nDen aktiveres (restartes) hver gang det kommer signal inn.","x":350,"y":120,"wires":[]},{"id":"27d351b16098b8ae","type":"api-call-service","z":"f40e1a11686c876e","name":"Start Timer","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"timer","service":"start","entityId":"timer.stue_overstyr_pir","data":"{\"duration\":\"02:00:00\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":260,"wires":[[]]},{"id":"afe275447af5d9bd","type":"api-call-service","z":"f40e1a11686c876e","name":"Stop Timer","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"timer","service":"finish","entityId":"timer.stue_overstyr_pir","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":460,"wires":[["de382b245e191682"]]},{"id":"2352e14c410268cf","type":"comment","z":"f40e1a11686c876e","name":"Start timer Stue 2t","info":"Her endrer man navnet på sin timer-enhet.","x":670,"y":220,"wires":[],"icon":"node-red/alert.svg"},{"id":"fb4b37c44c63f8b0","type":"comment","z":"f40e1a11686c876e","name":"Stop timer Stue","info":"Her endrer man navnet på sin timer-enhet.","x":380,"y":420,"wires":[],"icon":"node-red/alert.svg"},{"id":"03df01e282281da4","type":"api-call-service","z":"f40e1a11686c876e","name":"Start Timer","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"timer","service":"start","entityId":"timer.kjokken_overstyr_pir","data":"{\"duration\":\"02:00:00\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":360,"wires":[[]]},{"id":"de382b245e191682","type":"api-call-service","z":"f40e1a11686c876e","name":"Stop Timer","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"timer","service":"finish","entityId":"timer.kjokken_overstyr_pir","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":460,"wires":[[]]},{"id":"6328aaf0ee7d98a7","type":"comment","z":"f40e1a11686c876e","name":"Start timer Kjøkken 2t","info":"Her endrer man navnet på sin timer-enhet.","x":680,"y":320,"wires":[],"icon":"node-red/alert.svg"},{"id":"cd4906a29bd9aa2c","type":"comment","z":"f40e1a11686c876e","name":"Stop timer Kjøkken","info":"Her endrer man navnet på sin timer-enhet.","x":610,"y":420,"wires":[],"icon":"node-red/alert.svg"},{"id":"4033c4171bbf7673","type":"api-call-service","z":"f40e1a11686c876e","name":"Slå på knapp","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.stue_overstyr_pir_knapp","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":260,"wires":[["27d351b16098b8ae"]]},{"id":"a60f122d17fe9156","type":"comment","z":"f40e1a11686c876e","name":"Slå på overstyring Stue","info":"Her endrer man navnet på sin overstyrings-enhet.","x":400,"y":220,"wires":[],"icon":"node-red/alert.svg"},{"id":"01b32efe5abd698b","type":"comment","z":"f40e1a11686c876e","name":"Slå på overstyring Kjøkken","info":"Her endrer man navnet på sin overstyrings-enhet.","x":410,"y":320,"wires":[],"icon":"node-red/alert.svg"},{"id":"903cb8df6233afe1","type":"api-call-service","z":"f40e1a11686c876e","name":"Slå på knapp","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.kjokken_overstyr_pir_knapp","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":360,"wires":[["03df01e282281da4"]]},{"id":"b6ae3012.c9a4f","type":"server","name":"homeAssistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
