node-red/node_red-vvb.flow
[{"id":"fe931379aea5850c","type":"tab","label":"VVB","disabled":false,"info":"","env":[]},{"id":"6ef2ad41f945fef3","type":"comment","z":"fe931379aea5850c","name":"VVB","info":"","x":110,"y":120,"wires":[]},{"id":"834c54ad1411237f","type":"comment","z":"fe931379aea5850c","name":"Beskrivelse av styringen","info":"# node_red-vvb\n// Tor Gaute Lien - Versjon 1.0 - 10/01-22\n// \n// **BESKRIVELSE**\n// \n// Automasjon som henter to tidspunkt og slår bryter på eller av når de inntreffer\n// \n// Autmasjonen kan slås av / på ved hjelp av en input_boolean\n// \n// Den første input_datetime (on) er klokkeslettet den skal skrus på\n// Den andre input_datetime (off) er klokkeslettet den skal skrus av\n// Du legger inn navnet på bryteren (switch) som skal styres\n// Du legger inn navnet på input_boolean som styrer automasjonen\n//\n// **ENHETER BRUKT**\n// \n// Her har jeg følgende devicer (per ladestasjon):\n// \n// Ekte devicer:\n// VVB switch\n// \n// Home Assistant devicer:\n// Input Datetime som gir to tidspunkt å styre\n// Input Boolean som aktiverer / deaktiverer automasjonen\n// \n// **TING SOM EVENTUELT TRENGS**\n// \n// * Jeg bruker en egen pakke \"packages-vvb\" som gir Input Datetime enhetene og Input Boolean\n\nTing med UTROPSTEGN (!) sier at du MÅ endre navn på device!","x":170,"y":40,"wires":[]},{"id":"96fe209426eda1f4","type":"comment","z":"fe931379aea5850c","name":"Sjekk pr min.","info":"","x":130,"y":160,"wires":[],"icon":"node-red-contrib-bigtimer/timer.png"},{"id":"23ba72e8bb03a571","type":"function","z":"fe931379aea5850c","name":"Tidssjekk","func":"// Henter inn states fra HA (IKKE ENDRE)\nconst states = global.get('homeassistant').homeAssistant.states; // Min Home Assistant heter homeAssistant som node\nconst input_tid = msg.entity_id\n\n// Sjekker om time og minutt fra input_tid er det samme som nå\nconst now = new Date();\nconst alarm = states[input_tid].attributes;\nif(now.getHours() === alarm.hour && now.getMinutes() === alarm.minute) {\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":420,"wires":[["991e35684c56de69"]]},{"id":"019bc3e857e8a358","type":"api-current-state","z":"fe931379aea5850c","name":"Finn tid","server":"b6ae3012.c9a4f","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.vvb_on_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"entity_id","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":420,"wires":[["23ba72e8bb03a571"]]},{"id":"085d571326fe1c84","type":"comment","z":"fe931379aea5850c","name":"Sjekk pr min.","info":"","x":130,"y":380,"wires":[],"icon":"node-red-contrib-bigtimer/timer.png"},{"id":"f65ea1c97d3f19dd","type":"comment","z":"fe931379aea5850c","name":"Finn tid","info":"Endre navn på entity_id","x":510,"y":380,"wires":[],"icon":"node-red/alert.svg"},{"id":"f34ef9644cea3b29","type":"comment","z":"fe931379aea5850c","name":"Sjekker om tiden er lik","info":"","x":760,"y":380,"wires":[]},{"id":"991e35684c56de69","type":"api-call-service","z":"fe931379aea5850c","name":"Skru på","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.kjeller_vvb_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":420,"wires":[[]]},{"id":"20f74d1f72dcd0af","type":"comment","z":"fe931379aea5850c","name":"Skru på","info":"Endre navn på entity_id","x":930,"y":380,"wires":[],"icon":"node-red/alert.svg"},{"id":"e5c48849f043f132","type":"function","z":"fe931379aea5850c","name":"Tidssjekk","func":"// Henter inn states fra HA (IKKE ENDRE)\nconst states = global.get('homeassistant').homeAssistant.states; // Min Home Assistant heter homeAssistant som node\nconst input_tid = msg.entity_id\n\n// Sjekker om time og minutt fra input_tid er det samme som nå\nconst now = new Date();\nconst alarm = states[input_tid].attributes;\nif(now.getHours() === alarm.hour && now.getMinutes() === alarm.minute) {\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":520,"wires":[["45835e8ad2fc81bf"]]},{"id":"5f831c7160160475","type":"api-current-state","z":"fe931379aea5850c","name":"Finn tid","server":"b6ae3012.c9a4f","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.vvb_off_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"entity_id","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":520,"wires":[["e5c48849f043f132"]]},{"id":"8399d61b93f8434e","type":"comment","z":"fe931379aea5850c","name":"Finn tid","info":"Endre navn på entity_id","x":510,"y":480,"wires":[],"icon":"node-red/alert.svg"},{"id":"80c49997d5d5bce6","type":"comment","z":"fe931379aea5850c","name":"Sjekker om tiden er lik","info":"","x":760,"y":480,"wires":[]},{"id":"45835e8ad2fc81bf","type":"api-call-service","z":"fe931379aea5850c","name":"Skru av","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.kjeller_vvb_switch","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":520,"wires":[[]]},{"id":"415091274fb2a9e9","type":"comment","z":"fe931379aea5850c","name":"Skru av","info":"Endre navn på entity_id","x":930,"y":480,"wires":[],"icon":"node-red/alert.svg"},{"id":"028e026a547642c8","type":"inject","z":"fe931379aea5850c","name":"Sjekk pr min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":140,"y":420,"wires":[[]]},{"id":"e56f12ba793c30dd","type":"comment","z":"fe931379aea5850c","name":"Sjekk pr min.","info":"","x":130,"y":380,"wires":[],"icon":"node-red-contrib-bigtimer/timer.png"},{"id":"84d9ed83178fccad","type":"comment","z":"fe931379aea5850c","name":"VVB","info":"Gammel sak som gjør samme nytten som over. \nHar den med for å vise alternative metoder.","x":110,"y":340,"wires":[]},{"id":"b6725a5c883325c3","type":"function","z":"fe931379aea5850c","name":"VVB","func":"// VVB med to input\n// Tor Gaute Lien - Versjon 1.0\n\n// Automasjon som henter to tidspunkt og slår bryter på eller av når de inntreffer\n// \n// Autmasjonen kan slås av / på ved hjelp av en input_boolean\n// \n// Den første input_datetime (on) er klokkeslettet den skal skrus på\n// Den andre input_datetime (off) er klokkeslettet den skal skrus av\n// Du legger inn navnet på bryteren (switch) som skal styres\n// Du legger inn navnet på input_boolean som styrer automasjonen\n\n//Henter inn states fra HA (IKKE ENDRE)\nconst states = global.get('homeassistant').homeAssistant.states; // Min Home Assistant heter homeAssistant som node\n\n// Her legger du inn dine input_datetime på og av\nconst input_on_1 = \"input_datetime.vvb_on_1\"; // Skriv inn ditt på-tidspunkt\nconst input_off_1 = \"input_datetime.vvb_off_1\"; // Skriv inn av-tidspunkt\n\n// Her legger du inn enheten som skal bli styrt\nconst entity_id = \"switch.kjeller_vvb_switch\"; // Skriv inn din enhet\n\n// Her legger du inn enheten som styrer om automasjonen er aktiv\nconst enable_enhet = \"input_boolean.vvb_enable\"; // Skriv inn ditt på-tidspunkt\n\n// ------------- IKKE ENDRE UNDER HER\n\n//Lager 2 forskjellige utganger med beskjed\nvar msg1 = { };\nvar msg2 = { };\n\n//Gir tid (nå-tid)\nconst now = new Date();\n\n//Gir enable om bryter er på\nvar enable = states[enable_enhet].state;\n\n//Sender på-signal\nvar tid_on_1 = states[input_on_1].attributes;\nif(now.getHours() === tid_on_1.hour && now.getMinutes() === tid_on_1.minute && enable == \"on\") {\n    msg1.info = \"Slår på \" + entity_id + \" nå.\"\n    msg2.service = \"turn_on\"\n    msg2.entity_id = entity_id\n    node.send([[msg1],[msg2]]);\n}\n\n//Sender av-signal\nvar tid_off_1 = states[input_off_1].attributes;\nif(now.getHours() === tid_off_1.hour && now.getMinutes() === tid_off_1.minute && enable == \"on\") {\n    msg1.info = \"Slår av \" + entity_id + \" nå.\"\n    msg2.service = \"turn_off\"\n    msg2.entity_id = entity_id\n    node.send([[msg1],[msg2]]);\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":200,"wires":[[],["7cc64d5b5dc2500b"]],"outputLabels":["Debug","På / Av"]},{"id":"6320ad3288f5de8f","type":"comment","z":"fe931379aea5850c","name":"Sjekker tidspunkt og slår på / av","info":"Beskrivelse inne i funksjonsnoden.","x":390,"y":160,"wires":[],"icon":"node-red/alert.svg"},{"id":"c8b0f388774a6efa","type":"inject","z":"fe931379aea5850c","name":"Sjekk pr min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":140,"y":200,"wires":[["b6725a5c883325c3"]]},{"id":"7cc64d5b5dc2500b","type":"api-call-service","z":"fe931379aea5850c","name":"Slå av / på bryter","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"switch","service":"{{service}}","entityId":"{{entity_id}}","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":200,"wires":[[]]},{"id":"7045d1e600ed90fe","type":"comment","z":"fe931379aea5850c","name":"Slår av / på bryter","info":"","x":650,"y":160,"wires":[]},{"id":"e37ff1b4d086415b","type":"api-current-state","z":"fe931379aea5850c","name":"Sjekk aktiv","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.vvb_enable","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":420,"wires":[["019bc3e857e8a358","5f831c7160160475"],[]]},{"id":"e28cc1fce9aba475","type":"comment","z":"fe931379aea5850c","name":"Sjekk aktiv","info":"Endre navn på entity_id","x":320,"y":380,"wires":[],"icon":"node-red/alert.svg"},{"id":"b6ae3012.c9a4f","type":"server","name":"homeAssistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
