node-red/node_red-lysstyring_nattlys_dimmer_2.flow
[{"id":"bbeb4446dbdced87","type":"tab","label":"Lysstyring Nattlys Dimmer 2 (Kjøkken)","disabled":false,"info":"","env":[]},{"id":"b51bdd0806539f94","type":"api-call-service","z":"bbeb4446dbdced87","name":"Skru på lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kjokken_lys","data":"{\"brightness_pct\":\"10\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":1240,"wires":[[]]},{"id":"d2adeb2f2aa38f9d","type":"trigger","z":"bbeb4446dbdced87","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"2000","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":580,"y":1220,"wires":[["b51bdd0806539f94"],["4ee80e9f08cf0de9"]]},{"id":"532961f42d363fe7","type":"inject","z":"bbeb4446dbdced87","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":110,"y":1220,"wires":[["d2adeb2f2aa38f9d"]]},{"id":"4ee80e9f08cf0de9","type":"trigger","z":"bbeb4446dbdced87","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"2000","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":580,"y":1260,"wires":[["abf0eb3277cc5503"],["eb7702c6b49b4bfa"]]},{"id":"abf0eb3277cc5503","type":"api-call-service","z":"bbeb4446dbdced87","name":"Skru på lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kjokken_lys","data":"{\"brightness_pct\":\"15\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":1280,"wires":[[]]},{"id":"467abfa6709809f3","type":"api-call-service","z":"bbeb4446dbdced87","name":"Skru på lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kjokken_lys","data":"{\"brightness_pct\":\"30\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":1400,"wires":[[]]},{"id":"4b6ed1aea9a6a838","type":"api-call-service","z":"bbeb4446dbdced87","name":"Skru på lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kjokken_lys","data":"{\"brightness_pct\":\"20\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":1320,"wires":[[]]},{"id":"fa04d804ebc23e5f","type":"api-call-service","z":"bbeb4446dbdced87","name":"Skru på lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kjokken_lys","data":"{\"brightness_pct\":\"25\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":1360,"wires":[[]]},{"id":"eb7702c6b49b4bfa","type":"trigger","z":"bbeb4446dbdced87","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"2000","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":580,"y":1300,"wires":[["4b6ed1aea9a6a838"],["51f6ea7e2accd797"]]},{"id":"51f6ea7e2accd797","type":"trigger","z":"bbeb4446dbdced87","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"2000","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":580,"y":1340,"wires":[["fa04d804ebc23e5f"],["c4690588d410a351"]]},{"id":"c4690588d410a351","type":"trigger","z":"bbeb4446dbdced87","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"2000","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":580,"y":1380,"wires":[["467abfa6709809f3"],["5ac3811fb4c5c222"]]},{"id":"68d0284e6c74c2af","type":"api-call-service","z":"bbeb4446dbdced87","name":"Skru på lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kjokken_lys","data":"{\"brightness_pct\":\"35\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":1460,"wires":[[]]},{"id":"9fb358eda44a08a2","type":"api-call-service","z":"bbeb4446dbdced87","name":"Skru på lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kjokken_lys","data":"{\"brightness_pct\":\"40\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":1500,"wires":[[]]},{"id":"1ab026f84ff28d4e","type":"api-call-service","z":"bbeb4446dbdced87","name":"Skru på lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kjokken_lys","data":"{\"brightness_pct\":\"55\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":1620,"wires":[[]]},{"id":"dc8169db23d11820","type":"api-call-service","z":"bbeb4446dbdced87","name":"Skru på lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kjokken_lys","data":"{\"brightness_pct\":\"45\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":1540,"wires":[[]]},{"id":"e517be5ebcb74a13","type":"api-call-service","z":"bbeb4446dbdced87","name":"Skru på lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kjokken_lys","data":"{\"brightness_pct\":\"50\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":1580,"wires":[[]]},{"id":"5ac3811fb4c5c222","type":"trigger","z":"bbeb4446dbdced87","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"2000","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":580,"y":1420,"wires":[["68d0284e6c74c2af"],["71c054a74ef095d1"]]},{"id":"71c054a74ef095d1","type":"trigger","z":"bbeb4446dbdced87","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"2000","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":580,"y":1460,"wires":[["9fb358eda44a08a2"],["d6aabafdbc20bce7"]]},{"id":"d6aabafdbc20bce7","type":"trigger","z":"bbeb4446dbdced87","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"2000","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":580,"y":1500,"wires":[["dc8169db23d11820"],["056cb38823eef1a7"]]},{"id":"056cb38823eef1a7","type":"trigger","z":"bbeb4446dbdced87","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"2000","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":580,"y":1540,"wires":[["e517be5ebcb74a13"],["c1da9a4b2feb69db"]]},{"id":"c1da9a4b2feb69db","type":"trigger","z":"bbeb4446dbdced87","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"2000","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":580,"y":1580,"wires":[["1ab026f84ff28d4e"],[]]},{"id":"7b9f8ffe8b813644","type":"time-range-switch","z":"bbeb4446dbdced87","name":"","lat":"60.5861","lon":"10.7634","startTime":"05:30","endTime":"23:00","startOffset":0,"endOffset":0,"x":670,"y":140,"wires":[["5f90a7320836cfd2"],["bfb9df30c35aa73a"]],"outputLabels":["Innenfor","Utenfor"],"info":"Øverste utgang gir signal innenfor tidspunktet.\n\nNederste utgang gir signal utenfor tidspunktet."},{"id":"5fa86c4cc64cdf1f","type":"switch","z":"bbeb4446dbdced87","name":"På eller av","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":260,"wires":[["48044eca5b6ddb14","5a9c8f5cc664acdb"],["5a9c8f5cc664acdb"]],"outputLabels":["På","Av"],"info":"Sjekker kun om det gir ON eller OFF"},{"id":"14596a1f5e1e6205","type":"server-state-changed","z":"bbeb4446dbdced87","name":"Kjøkken PIR (direkte)","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kjokken_sensor_burglar","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":160,"wires":[["46feb4f2c6641746"]]},{"id":"8a45f81a45a3655a","type":"api-call-service","z":"bbeb4446dbdced87","name":"Skru på lys 100%","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kjokken_lys","data":"{\"brightness_pct\":\"100\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":360,"wires":[[]]},{"id":"522e6ef816df726c","type":"api-call-service","z":"bbeb4446dbdced87","name":"Skru av lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kjokken_lys","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":460,"wires":[[]]},{"id":"5a9c8f5cc664acdb","type":"stoptimer","z":"bbeb4446dbdced87","duration":"20","units":"Minute","payloadtype":"str","payloadval":"on","name":"20 min timer","x":130,"y":360,"wires":[[],["fb883bd64a314974"]],"outputLabels":["","On"]},{"id":"48044eca5b6ddb14","type":"api-current-state","z":"bbeb4446dbdced87","name":"Sjekk om nattugle av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.nattugle_knapp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":160,"wires":[["7b9f8ffe8b813644"],["5f90a7320836cfd2"]],"outputLabels":["Nattugle av","Nattugle på"]},{"id":"c755276694a5653c","type":"comment","z":"bbeb4446dbdced87","name":"PIR-enhet","info":"Her endrer man navnet på sin PIR-enhet.\n\nDet er viktig at enheten gir ON ved begevelse og OFF når den slår av","x":120,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"ab45053d0e15c069","type":"comment","z":"bbeb4446dbdced87","name":"Overstyr nattlys på","info":"Her endrer man navnet på sin nattugle-enhet.\n\nNattugle som er en knapp som overstyrer nattsenk / dimmet lys på natten","x":450,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"4cba706d4edc3a37","type":"comment","z":"bbeb4446dbdced87","name":"Sjekk tidspunkt","info":"Her har jeg to tidspunkt. Innenfor sone og utenfor.\n\nDette for å kunne styre nattlyset forskjellig.","x":680,"y":100,"wires":[]},{"id":"955776485c508ae6","type":"comment","z":"bbeb4446dbdced87","name":"Timer","info":"Her settes en timer.\n\nDen aktiveres (restartes) hver gang det kommer signal inn.","x":110,"y":320,"wires":[]},{"id":"bcff1fe9a7d29891","type":"comment","z":"bbeb4446dbdced87","name":"Skru på lys 100%","info":"Her endrer man navnet på sitt lys.","x":940,"y":320,"wires":[],"icon":"node-red/alert.svg"},{"id":"7dfe28ae91a6470c","type":"comment","z":"bbeb4446dbdced87","name":"Skru av lys","info":"Her endrer man navnet på sitt lys.","x":920,"y":420,"wires":[],"icon":"node-red/alert.svg"},{"id":"46feb4f2c6641746","type":"api-current-state","z":"bbeb4446dbdced87","name":"Sjekk om overstyring er av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.kjokken_overstyr_pir_knapp","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":180,"y":260,"wires":[["5fa86c4cc64cdf1f"],[]],"outputLabels":["Overstyring av","Overstyring på"]},{"id":"cc7abdf9d591f9d5","type":"comment","z":"bbeb4446dbdced87","name":"Sjekk om overstyring er av","info":"Her endrer man navnet på sin overstyrings-enhet.\n\nNattenhet som er en knapp som overstyrer nattsenk / dimmet lys på natten","x":170,"y":220,"wires":[],"icon":"node-red/alert.svg"},{"id":"118e41a22afb4313","type":"api-call-service","z":"bbeb4446dbdced87","name":"Skru på lys 10%","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kjokken_lys","data":"{\"brightness_pct\":\"10\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":140,"wires":[[]]},{"id":"bfb9df30c35aa73a","type":"trigger","z":"bbeb4446dbdced87","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"10","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":930,"y":140,"wires":[["118e41a22afb4313"],["32e91af591abe91e"]]},{"id":"32e91af591abe91e","type":"trigger","z":"bbeb4446dbdced87","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"10","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":930,"y":180,"wires":[["8d4a45e119975441"],["846e91057a4d095d"]]},{"id":"e38e073a9c0506c6","type":"api-call-service","z":"bbeb4446dbdced87","name":"Skru på lys 30%","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kjokken_lys","data":"{\"brightness_pct\":\"30\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":220,"wires":[[]]},{"id":"8d4a45e119975441","type":"api-call-service","z":"bbeb4446dbdced87","name":"Skru på lys 20%","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kjokken_lys","data":"{\"brightness_pct\":\"20\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":180,"wires":[[]]},{"id":"846e91057a4d095d","type":"trigger","z":"bbeb4446dbdced87","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"10","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":930,"y":220,"wires":[["e38e073a9c0506c6"],["fe5ee1dad97d22f5"]]},{"id":"fe5ee1dad97d22f5","type":"trigger","z":"bbeb4446dbdced87","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"10","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":930,"y":260,"wires":[["6adbdf87c204849d"],[]]},{"id":"6adbdf87c204849d","type":"api-call-service","z":"bbeb4446dbdced87","name":"Skru på lys 40%","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kjokken_lys","data":"{\"brightness_pct\":\"40\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":260,"wires":[[]]},{"id":"912d80450f3e3f5c","type":"comment","z":"bbeb4446dbdced87","name":"Skru på lys gradvis","info":"Her endrer man navnet på sitt lys i alle under.","x":1150,"y":100,"wires":[],"icon":"node-red/alert.svg"},{"id":"63c6543c5e903871","type":"comment","z":"bbeb4446dbdced87","name":"Beskrivelse av styringen","info":"# node_red-lysstyring_nattlys_dimmer_2\n// Tor Gaute Lien - Versjon 1.0 - 31/12-21\n// Ny\n// \n// **BESKRIVELSE**\n// \n// Lyset styres av en PIR som slår lyset på og av.\n// \n// Den sjekker først om det er overstyring av PIR.\n// \n// Når lyset slås på, aktiveres en timer. Den aktiveres av aktivitet \n// på PIR (on / off).\n// \n// Når timeren er ferdig sjekker den om PIR er på (om det forsatt er \n// aktivitet der etter timeren), og om den er aktiv vil timer starte \n// på nytt. \n// \n// Det er forskjell på styrken på lyset som slås på om dagen og om \n// natten.\n// \n// Det er en overstyringsknapp (Nattugle) dersom man vil deaktivere \n// nattlys i noen timer.\n// \n// **ENHETER BRUKT**\n// \n// Her bruker jeg følgende devicer:\n// \n// Ekte devicer:\n// PIR som gir ON eller OFF\n// Lampe som styres\n// \n// Home Assistant devicer:\n// Input Boolean som forteller meg om overstyring PIR er på eller av \n// \n// **TING SOM EVENTUELT TRENGS**\n// \n// * Jeg bruker en egen pakke \"Overstyring Lys\" som gir de enhetene\n// * Jeg bruker en egen flow \"Overstyring Lysstyring\" som kan \n//   overstyre lysstyringen\n// * Jeg bruker en egen pakke \"PIR\" som gir de enhetene\n// * Jeg bruker en egen flow \"PIR\" som styrer de enhetene\n\nTing med UTROPSTEGN (!) sier at du MÅ endre navn på device!","x":170,"y":40,"wires":[]},{"id":"fb883bd64a314974","type":"api-current-state","z":"bbeb4446dbdced87","name":"Sjekk om PIR er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.kjokken_sensor_burglar","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"piron","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":360,"wires":[["5a9c8f5cc664acdb"],["6a9ee9dd9c7abc3f"]],"outputLabels":["PIR på","PIR av"]},{"id":"fa7533b897b4c836","type":"comment","z":"bbeb4446dbdced87","name":"PIR-enhet","info":"Her endrer man navnet på sin PIR-enhet.\n\nHer sjekker man om det PIR fortsatt er aktiv, for å hindre at lyset slås på om noen er aktive i rommet under hele timer-seansen.","x":420,"y":320,"wires":[],"icon":"node-red/alert.svg"},{"id":"56e71569d3b808b6","type":"comment","z":"bbeb4446dbdced87","name":"Dimmer gradvis","info":"Dimmer gradvis hvert 10. sekund","x":940,"y":100,"wires":[]},{"id":"6a9ee9dd9c7abc3f","type":"api-current-state","z":"bbeb4446dbdced87","name":"Sjekk om lys er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.kjokken_lys","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"off","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":690,"y":360,"wires":[["522e6ef816df726c"],[]]},{"id":"760599e469287d21","type":"comment","z":"bbeb4446dbdced87","name":"Sjekk om lyset er på","info":"Her endrer man navnet på sitt lys.\n\nSjekker om lyset er på, for å hindre flere starter og trafikk.","x":690,"y":320,"wires":[],"icon":"node-red/alert.svg"},{"id":"5f90a7320836cfd2","type":"api-current-state","z":"bbeb4446dbdced87","name":"Sjekk om lys er av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.kjokken_lys","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"off","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":690,"y":260,"wires":[["8a45f81a45a3655a"],[]],"outputLabels":["Av","På"]},{"id":"721fe22af3d89d9d","type":"comment","z":"bbeb4446dbdced87","name":"Sjekk om lyset er av","info":"Her endrer man navnet på sitt lys.\n\nSjekker om lyset er av, for å hindre flere starter og trafikk.","x":690,"y":220,"wires":[],"icon":"node-red/alert.svg"},{"id":"b6ae3012.c9a4f","type":"server","name":"homeAssistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
