node-red/node_red-overstyring_lys.flow
[{"id":"490aee01408e23db","type":"tab","label":"Overstyring Lys","disabled":false,"info":"","env":[]},{"id":"9b230e1056e92ba2","type":"comment","z":"490aee01408e23db","name":"Beskrivelse av styringen","info":"# node_red-overstyring_lys\n// Tor Gaute Lien - Versjon 1.0 - 31/12-21\n// Ny\n// \n// **BESKRIVELSE**\n// \n// Her er en styring per rom.\n// \n// Det er en knapp som setter på overstyring. Når den er aktivert \n// vil automasjonene starte.\n// \n// Den setter på overstyring i antall timer som gis i en \n// input boolean. \n// \n// Det er en timer som teller ned.\n// \n// Dersom tiden endres når overstyring er på, endres timeren.\n// \n// Når timer er ferdig, skrus overstyring av.\n// \n// **ENHETER BRUKT**\n// \n// Her bruker jeg følgende devicer:\n// \n// Home Assistant devicer:\n// (4) Input Number som forteller meg hvor mange timer overstyring \n// skal være aktiv (brukes også i andre flows)\n// (4) Input Boolean som forteller meg om overstyring er aktiv \n// (brukes også i andre flows)\n// (4) Timere som settes for å endre tid i overstyring\n// \n// **TING SOM EVENTUELT TRENGS**\n// \n// * Jeg bruker en egen pakke \"Lys\" som gir Kinomodus (Input Boolean //   og Switch)\n// * Jeg bruker også en egen pakke \"Lys\" som gir det som styres \n//   (overstyring etc)\n\nTing med UTROPSTEGN (!) sier at du MÅ endre navn på device!","x":170,"y":40,"wires":[]},{"id":"a6f14aa8.98c278","type":"api-call-service","z":"490aee01408e23db","name":"Start Timer","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"timer","service":"start","entityId":"timer.stue_overstyr_pir","data":"{ \"duration\": $number($entities(\"input_number.stue_overstyr_pir_tid\").state) * 3600}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":200,"wires":[[]]},{"id":"cbdf98b68dd0b6aa","type":"api-current-state","z":"490aee01408e23db","name":"Sjekk om overstyring er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.stue_overstyr_pir_knapp","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":420,"y":200,"wires":[["a6f14aa8.98c278"],[]],"outputLabels":["Overstyring på","Overstyring av"]},{"id":"d27b3f24fa0e3ff9","type":"comment","z":"490aee01408e23db","name":"Sjekk om overstyring er på","info":"Her endrer man navnet på sin overstyrings-enhet.\n\nSjekker om overstyring er på","x":410,"y":160,"wires":[],"icon":"node-red/alert.svg"},{"id":"f77ae5edccabcba4","type":"server-state-changed","z":"490aee01408e23db","name":"Start overstyring","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.stue_overstyr_pir_knapp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":300,"wires":[["cbdf98b68dd0b6aa"],["11a51d4661111589"]]},{"id":"969cc4f126af9b4b","type":"server-state-changed","z":"490aee01408e23db","name":"Sjekk endring tid","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.stue_overstyr_pir_tid","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":200,"wires":[["cbdf98b68dd0b6aa"]]},{"id":"11a51d4661111589","type":"api-call-service","z":"490aee01408e23db","name":"Stop Timer","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"timer","service":"finish","entityId":"timer.stue_overstyr_pir","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":300,"wires":[[]]},{"id":"5963652a38acf2f5","type":"comment","z":"490aee01408e23db","name":"Sjekk endring tid","info":"Her endrer man navnet på sin tids-enhet.\n\nAktiverer endring om overstyring på.","x":140,"y":160,"wires":[],"icon":"node-red/alert.svg"},{"id":"13aa1a9fb950f94b","type":"comment","z":"490aee01408e23db","name":"Start overstyring","info":"Her endrer man navnet på sin overstyrings-enhet.\n\nAktiverer overstyring.","x":140,"y":260,"wires":[],"icon":"node-red/alert.svg"},{"id":"e7fe2a95c06e0230","type":"comment","z":"490aee01408e23db","name":"Start timer","info":"Her endrer man navnet på sin timer-enhet.","x":660,"y":160,"wires":[],"icon":"node-red/alert.svg"},{"id":"2daa2e6a139751fb","type":"comment","z":"490aee01408e23db","name":"Stop timer","info":"Her endrer man navnet på sin timer-enhet.","x":660,"y":260,"wires":[],"icon":"node-red/alert.svg"},{"id":"1839b7fa10021645","type":"comment","z":"490aee01408e23db","name":"Stue","info":"","x":110,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"3699a7b8ffce0ec1","type":"server-state-changed","z":"490aee01408e23db","name":"Slå av knapp","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"timer.stue_overstyr_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"idle","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":400,"wires":[["dda32dbf1c55e7b1"],[]]},{"id":"dda32dbf1c55e7b1","type":"api-call-service","z":"490aee01408e23db","name":"Slå av knapp","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.stue_overstyr_pir_knapp","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":400,"wires":[[]]},{"id":"852e35abafb75742","type":"comment","z":"490aee01408e23db","name":"Slå av knapp","info":"Her endrer man navnet på sin timer-enhet.\n\nEndrer overstyringsknappen.","x":130,"y":360,"wires":[],"icon":"node-red/alert.svg"},{"id":"d6adf7e49c0982d8","type":"comment","z":"490aee01408e23db","name":"Slå av knapp","info":"Her endrer man navnet på sin overstyrings-enhet.","x":370,"y":360,"wires":[],"icon":"node-red/alert.svg"},{"id":"29a6628809e268b5","type":"api-call-service","z":"490aee01408e23db","name":"Start Timer","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"timer","service":"start","entityId":"timer.kjokken_overstyr_pir","data":"{ \"duration\": $number($entities(\"input_number.kjokken_overstyr_pir_tid\").state) * 3600}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":600,"wires":[[]]},{"id":"ec2ea26c88fda134","type":"api-current-state","z":"490aee01408e23db","name":"Sjekk om overstyring er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.kjokken_overstyr_pir_knapp","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":420,"y":600,"wires":[["29a6628809e268b5"],[]],"outputLabels":["Overstyring på","Overstyring av"]},{"id":"b3b8f25f5513d660","type":"comment","z":"490aee01408e23db","name":"Sjekk om overstyring er på","info":"Her endrer man navnet på sin overstyrings-enhet.\n\nSjekker om overstyring er på","x":410,"y":560,"wires":[],"icon":"node-red/alert.svg"},{"id":"dcae89b52dacb82d","type":"server-state-changed","z":"490aee01408e23db","name":"Start overstyring","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.kjokken_overstyr_pir_knapp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":700,"wires":[["ec2ea26c88fda134"],["7194d3e8aaf67643"]]},{"id":"7894f1cc1054150f","type":"server-state-changed","z":"490aee01408e23db","name":"Sjekk endring tid","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.kjokken_overstyr_pir_tid","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":600,"wires":[["ec2ea26c88fda134"]]},{"id":"7194d3e8aaf67643","type":"api-call-service","z":"490aee01408e23db","name":"Stop Timer","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"timer","service":"finish","entityId":"timer.kjokken_overstyr_pir","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":700,"wires":[[]]},{"id":"3799c7c09b993653","type":"comment","z":"490aee01408e23db","name":"Sjekk endring tid","info":"Her endrer man navnet på sin tids-enhet.\n\nAktiverer endring om overstyring på.","x":140,"y":560,"wires":[],"icon":"node-red/alert.svg"},{"id":"4f8c11412d9a0ff5","type":"comment","z":"490aee01408e23db","name":"Start overstyring","info":"Her endrer man navnet på sin overstyrings-enhet.\n\nAktiverer overstyring.","x":140,"y":660,"wires":[],"icon":"node-red/alert.svg"},{"id":"2db560e55dfb5a0b","type":"comment","z":"490aee01408e23db","name":"Start timer","info":"Her endrer man navnet på sin timer-enhet.\nDu må også endre navnet på din input enhet i formelen.","x":660,"y":560,"wires":[],"icon":"node-red/alert.svg"},{"id":"45db8c843b369862","type":"comment","z":"490aee01408e23db","name":"Stop timer","info":"Her endrer man navnet på sin timer-enhet.","x":660,"y":660,"wires":[],"icon":"node-red/alert.svg"},{"id":"6f1d142c8ead8508","type":"comment","z":"490aee01408e23db","name":"Kjøkken","info":"","x":120,"y":520,"wires":[],"icon":"node-red/alert.svg"},{"id":"458a89b7a8d7b26d","type":"server-state-changed","z":"490aee01408e23db","name":"Slå av knapp","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"timer.kjokken_overstyr_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"idle","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":800,"wires":[["9212694d78b52baa"],[]]},{"id":"9212694d78b52baa","type":"api-call-service","z":"490aee01408e23db","name":"Slå av knapp","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.kjokken_overstyr_pir_knapp","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":800,"wires":[[]]},{"id":"03194fc44dce350f","type":"comment","z":"490aee01408e23db","name":"Slå av knapp","info":"Her endrer man navnet på sin timer-enhet.\n\nEndrer overstyringsknappen.","x":130,"y":760,"wires":[],"icon":"node-red/alert.svg"},{"id":"f4878a8819dd85f8","type":"comment","z":"490aee01408e23db","name":"Slå av knapp","info":"Her endrer man navnet på sin overstyrings-enhet.","x":370,"y":760,"wires":[],"icon":"node-red/alert.svg"},{"id":"65dfe12ab05c8686","type":"api-call-service","z":"490aee01408e23db","name":"Start Timer","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"timer","service":"start","entityId":"timer.lekerom_overstyr_pir","data":"{ \"duration\": $number($entities(\"input_number.lekerom_overstyr_pir_tid\").state) * 3600}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":1020,"wires":[[]]},{"id":"a8967fd48397b5f9","type":"api-current-state","z":"490aee01408e23db","name":"Sjekk om overstyring er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.lekerom_overstyr_pir_knapp","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":420,"y":1020,"wires":[["65dfe12ab05c8686"],[]],"outputLabels":["Overstyring på","Overstyring av"]},{"id":"402a946367c90e11","type":"comment","z":"490aee01408e23db","name":"Sjekk om overstyring er på","info":"Her endrer man navnet på sin overstyrings-enhet.\n\nSjekker om overstyring er på","x":410,"y":980,"wires":[],"icon":"node-red/alert.svg"},{"id":"5fca7779281274da","type":"server-state-changed","z":"490aee01408e23db","name":"Start overstyring","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.lekerom_overstyr_pir_knapp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1120,"wires":[["a8967fd48397b5f9"],["c6d3921cb220b6db"]]},{"id":"df0d243646dc2d65","type":"server-state-changed","z":"490aee01408e23db","name":"Sjekk endring tid","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.lekerom_overstyr_pir_tid","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1020,"wires":[["a8967fd48397b5f9"]]},{"id":"c6d3921cb220b6db","type":"api-call-service","z":"490aee01408e23db","name":"Stop Timer","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"timer","service":"finish","entityId":"timer.lekerom_overstyr_pir","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":1120,"wires":[[]]},{"id":"75a8356784f72607","type":"comment","z":"490aee01408e23db","name":"Sjekk endring tid","info":"Her endrer man navnet på sin tids-enhet.\n\nAktiverer endring om overstyring på.","x":140,"y":980,"wires":[],"icon":"node-red/alert.svg"},{"id":"12058c2aa113d2e9","type":"comment","z":"490aee01408e23db","name":"Start overstyring","info":"Her endrer man navnet på sin overstyrings-enhet.\n\nAktiverer overstyring.","x":140,"y":1080,"wires":[],"icon":"node-red/alert.svg"},{"id":"58a1d59833c8273b","type":"comment","z":"490aee01408e23db","name":"Start timer","info":"Her endrer man navnet på sin timer-enhet.\nDu må også endre navnet på din input enhet i formelen.","x":660,"y":980,"wires":[],"icon":"node-red/alert.svg"},{"id":"0d93c41de933af2b","type":"comment","z":"490aee01408e23db","name":"Stop timer","info":"Her endrer man navnet på sin timer-enhet.","x":660,"y":1080,"wires":[],"icon":"node-red/alert.svg"},{"id":"e461c7dc64a44430","type":"comment","z":"490aee01408e23db","name":"Lekerom","info":"","x":120,"y":940,"wires":[],"icon":"node-red/alert.svg"},{"id":"9653a4d863a64a28","type":"server-state-changed","z":"490aee01408e23db","name":"Slå av knapp","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"timer.lekerom_overstyr_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"idle","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":1220,"wires":[["bd091f513fae904a"],[]]},{"id":"bd091f513fae904a","type":"api-call-service","z":"490aee01408e23db","name":"Slå av knapp","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.lekerom_overstyr_pir_knapp","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":1220,"wires":[[]]},{"id":"3362488cbcf0fab1","type":"comment","z":"490aee01408e23db","name":"Slå av knapp","info":"Her endrer man navnet på sin timer-enhet.\n\nEndrer overstyringsknappen.","x":130,"y":1180,"wires":[],"icon":"node-red/alert.svg"},{"id":"dc97755708b63124","type":"comment","z":"490aee01408e23db","name":"Slå av knapp","info":"Her endrer man navnet på sin overstyrings-enhet.","x":370,"y":1180,"wires":[],"icon":"node-red/alert.svg"},{"id":"a5ae2d5f55eaf0db","type":"api-call-service","z":"490aee01408e23db","name":"Start Timer","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"timer","service":"start","entityId":"timer.gang_overstyr_pir","data":"{ \"duration\": $number($entities(\"input_number.gang_overstyr_pir_tid\").state) * 3600}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":1420,"wires":[[]]},{"id":"642547f135c4fe3d","type":"api-current-state","z":"490aee01408e23db","name":"Sjekk om overstyring er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.gang_overstyr_pir_knapp","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":420,"y":1420,"wires":[["a5ae2d5f55eaf0db"],[]],"outputLabels":["Overstyring på","Overstyring av"]},{"id":"b7c2db1dedcc0b37","type":"comment","z":"490aee01408e23db","name":"Sjekk om overstyring er på","info":"Her endrer man navnet på sin overstyrings-enhet.\n\nSjekker om overstyring er på","x":410,"y":1380,"wires":[],"icon":"node-red/alert.svg"},{"id":"3648651b43b7357c","type":"server-state-changed","z":"490aee01408e23db","name":"Start overstyring","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.gang_overstyr_pir_knapp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1520,"wires":[["642547f135c4fe3d"],["e29fa13ccfebb5f0"]]},{"id":"658a1f93ab8cce70","type":"server-state-changed","z":"490aee01408e23db","name":"Sjekk endring tid","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.gang_overstyr_pir_tid","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1420,"wires":[["642547f135c4fe3d"]]},{"id":"e29fa13ccfebb5f0","type":"api-call-service","z":"490aee01408e23db","name":"Stop Timer","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"timer","service":"finish","entityId":"timer.gang_overstyr_pir","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":1520,"wires":[[]]},{"id":"3fc05aa7b887fdaa","type":"comment","z":"490aee01408e23db","name":"Sjekk endring tid","info":"Her endrer man navnet på sin tids-enhet.\n\nAktiverer endring om overstyring på.","x":140,"y":1380,"wires":[],"icon":"node-red/alert.svg"},{"id":"aaf6ee190cd75172","type":"comment","z":"490aee01408e23db","name":"Start overstyring","info":"Her endrer man navnet på sin overstyrings-enhet.\n\nAktiverer overstyring.","x":140,"y":1480,"wires":[],"icon":"node-red/alert.svg"},{"id":"d8f536ea2166eeb2","type":"comment","z":"490aee01408e23db","name":"Start timer","info":"Her endrer man navnet på sin timer-enhet.\nDu må også endre navnet på din input enhet i formelen.","x":660,"y":1380,"wires":[],"icon":"node-red/alert.svg"},{"id":"8860c7a729d894cc","type":"comment","z":"490aee01408e23db","name":"Stop timer","info":"Her endrer man navnet på sin timer-enhet.","x":660,"y":1480,"wires":[],"icon":"node-red/alert.svg"},{"id":"81470ec52d4f8f77","type":"comment","z":"490aee01408e23db","name":"Gang","info":"","x":110,"y":1340,"wires":[],"icon":"node-red/alert.svg"},{"id":"6b292b465ae71b05","type":"server-state-changed","z":"490aee01408e23db","name":"Slå av knapp","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"timer.gang_overstyr_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"idle","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":1620,"wires":[["84d36cf8c64fb6fc"],[]]},{"id":"84d36cf8c64fb6fc","type":"api-call-service","z":"490aee01408e23db","name":"Slå av knapp","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.gang_overstyr_pir_knapp","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":1620,"wires":[[]]},{"id":"5268254e04d42e63","type":"comment","z":"490aee01408e23db","name":"Slå av knapp","info":"Her endrer man navnet på sin timer-enhet.\n\nEndrer overstyringsknappen.","x":130,"y":1580,"wires":[],"icon":"node-red/alert.svg"},{"id":"6c03fe2e67dfa192","type":"comment","z":"490aee01408e23db","name":"Slå av knapp","info":"Her endrer man navnet på sin overstyrings-enhet.","x":370,"y":1580,"wires":[],"icon":"node-red/alert.svg"},{"id":"b6ae3012.c9a4f","type":"server","name":"homeAssistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
