node-red/node_red-lysstyring_nattlys_dimmer.flow
[{"id":"11baf89685d8f67e","type":"tab","label":"Lysstyring Nattlys Dimmer (Gang)","disabled":false,"info":"","env":[]},{"id":"5aaa49d82bde8fd6","type":"time-range-switch","z":"11baf89685d8f67e","name":"","lat":"60.5861","lon":"10.7634","startTime":"05:30","endTime":"23:00","startOffset":0,"endOffset":0,"x":670,"y":140,"wires":[["ff26509cc4413ef9"],["ba5b74a77465dde6"]],"outputLabels":["Innenfor","Utenfor"],"info":"Øverste utgang gir signal innenfor tidspunktet.\n\nNederste utgang gir signal utenfor tidspunktet."},{"id":"3f1e5875778d4538","type":"switch","z":"11baf89685d8f67e","name":"På eller av","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":260,"wires":[["7a29cf931216df5a","3779f1ce2c3d6a30"],["3779f1ce2c3d6a30"]],"outputLabels":["På","Av"],"info":"Sjekker kun om det gir ON eller OFF"},{"id":"d0c4189d04b1a77b","type":"server-state-changed","z":"11baf89685d8f67e","name":"Gang PIR (direkte)","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.gang_pir_home_security_motion_detection","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":160,"wires":[["a6325b7140f5590f"]]},{"id":"ff26509cc4413ef9","type":"api-current-state","z":"11baf89685d8f67e","name":"Sjekk om lys er av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.gang_dimmer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"off","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":690,"y":260,"wires":[["14497a563bad3801"],[]],"outputLabels":["Av","På"]},{"id":"14497a563bad3801","type":"api-call-service","z":"11baf89685d8f67e","name":"Skru på lys 100%","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang_dimmer","data":"{\"brightness_pct\":\"100\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":360,"wires":[[]]},{"id":"010a3a468ce2f25a","type":"api-call-service","z":"11baf89685d8f67e","name":"Skru av lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.gang_dimmer","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":460,"wires":[[]]},{"id":"3779f1ce2c3d6a30","type":"stoptimer","z":"11baf89685d8f67e","duration":"20","units":"Minute","payloadtype":"str","payloadval":"on","name":"20 min timer","x":130,"y":360,"wires":[[],["d7aed7fa6ee11977"]],"outputLabels":["","On"]},{"id":"e1db384a323df6b8","type":"api-current-state","z":"11baf89685d8f67e","name":"Sjekk om lys er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.gang_dimmer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"off","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":690,"y":360,"wires":[["010a3a468ce2f25a"],[]]},{"id":"7a29cf931216df5a","type":"api-current-state","z":"11baf89685d8f67e","name":"Sjekk om nattugle av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.nattugle_knapp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":160,"wires":[["5aaa49d82bde8fd6"],["ff26509cc4413ef9"]],"outputLabels":["Nattugle av","Nattugle på"]},{"id":"a2e31ce1c570b220","type":"comment","z":"11baf89685d8f67e","name":"PIR-enhet","info":"Her endrer man navnet på sin PIR-enhet.\n\nDet er viktig at enheten gir ON ved begevelse og OFF når den slår av","x":120,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"bd8d4e5d1bb364cb","type":"comment","z":"11baf89685d8f67e","name":"Overstyr nattlys på","info":"Her endrer man navnet på sin nattugle-enhet.\n\nNattugle som er en knapp som overstyrer nattsenk / dimmet lys på natten","x":450,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"e83c5c446fade9f3","type":"comment","z":"11baf89685d8f67e","name":"Sjekk tidspunkt","info":"Her har jeg to tidspunkt. Innenfor sone og utenfor.\n\nDette for å kunne styre nattlyset forskjellig.","x":680,"y":100,"wires":[]},{"id":"fe8e05937284c75b","type":"comment","z":"11baf89685d8f67e","name":"Timer","info":"Her settes en timer.\n\nDen aktiveres (restartes) hver gang det kommer signal inn.","x":110,"y":320,"wires":[]},{"id":"13e37ea0f07d71a5","type":"comment","z":"11baf89685d8f67e","name":"Sjekk om lyset er av","info":"Her endrer man navnet på sitt lys.\n\nSjekker om lyset er av, for å hindre flere starter og trafikk.","x":690,"y":220,"wires":[],"icon":"node-red/alert.svg"},{"id":"c2015130735227f0","type":"comment","z":"11baf89685d8f67e","name":"Skru på lys 100%","info":"Her endrer man navnet på sitt lys.","x":920,"y":320,"wires":[],"icon":"node-red/alert.svg"},{"id":"104d029e59abfa53","type":"comment","z":"11baf89685d8f67e","name":"Skru av lys","info":"Her endrer man navnet på sitt lys.","x":900,"y":420,"wires":[],"icon":"node-red/alert.svg"},{"id":"afdf9d03f9d2a7c9","type":"comment","z":"11baf89685d8f67e","name":"Sjekk om lyset er på","info":"Her endrer man navnet på sitt lys.\n\nSjekker om lyset er på, for å hindre flere starter og trafikk.","x":690,"y":320,"wires":[],"icon":"node-red/alert.svg"},{"id":"cf549f5388778047","type":"comment","z":"11baf89685d8f67e","name":"Beskrivelse av styringen","info":"# node_red-lysstyring_nattlys_dimmer\n// Tor Gaute Lien - Versjon 1.1 - 15/01-22\n// 1.0 - 31/12-21 - Ny\n// 1.1 - 15/01-22 - Lagt inn sjekk om lampen er på for å unngå flere dimmesykluser\n// \n// **BESKRIVELSE**\n// \n// Lyset styres av en PIR som slår lyset på og av.\n// \n// Den sjekker først om det er overstyring av PIR.\n// \n// Når lyset slås på, aktiveres en timer. Den aktiveres av aktivitet // på PIR (on / off).\n// \n// Når timeren er ferdig sjekker den om PIR er på (om det forsatt er // aktivitet der etter timeren), og om den er aktiv vil timer starte // på nytt. \n// \n// Det er forskjell på styrken på lyset som slås på om dagen og om \n// natten.\n// \n// Det er en overstyringsknapp (Nattugle) dersom man vil deaktivere \n// nattlys i noen timer.\n// \n// **ENHETER BRUKT**\n// \n// Her bruker jeg følgende devicer:\n// \n// Ekte devicer:\n// PIR som gir ON eller OFF\n// Lampe som styres\n// \n// Home Assistant devicer:\n// Input Boolean som forteller meg om overstyring PIR er på eller av \n// \n// **TING SOM EVENTUELT TRENGS**\n// \n// * Jeg bruker en egen pakke \"packages-overstyring_lys\" som gir de enhetene\n// * Jeg bruker en egen flow \"node-red-overstyring_lysstyring\" som kan \n//   overstyre lysstyringen\n// * Jeg bruker en egen pakke \"packages-pir\" som gir de enhetene\n// * Jeg bruker en egen flow \"node_red-pir\" som styrer de enhetene\n\nTing med UTROPSTEGN (!) sier at du MÅ endre navn på device!","x":170,"y":40,"wires":[]},{"id":"a6325b7140f5590f","type":"api-current-state","z":"11baf89685d8f67e","name":"Sjekk om overstyring er av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.gang_overstyr_pir_knapp","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":180,"y":260,"wires":[["3f1e5875778d4538"],[]],"outputLabels":["Overstyring av","Overstyring på"]},{"id":"456f20f77d1bdd6b","type":"comment","z":"11baf89685d8f67e","name":"Sjekk om overstyring er av","info":"Her endrer man navnet på sin overstyrings-enhet.\n\nNattenhet som er en knapp som overstyrer nattsenk / dimmet lys på natten","x":170,"y":220,"wires":[],"icon":"node-red/alert.svg"},{"id":"da4258cfb60f5f82","type":"api-call-service","z":"11baf89685d8f67e","name":"Skru på lys 10%","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang_dimmer","data":"{\"brightness_pct\":\"10\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":140,"wires":[[]]},{"id":"8e25bc64c14c438c","type":"trigger","z":"11baf89685d8f67e","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"10","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":1130,"y":140,"wires":[["da4258cfb60f5f82"],["fc515ec9590c7e4f"]]},{"id":"fc515ec9590c7e4f","type":"trigger","z":"11baf89685d8f67e","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"10","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":1130,"y":180,"wires":[["df31f9658009c829"],["e97938d4b14f168f"]]},{"id":"b545d45296df0bb5","type":"api-call-service","z":"11baf89685d8f67e","name":"Skru på lys 30%","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang_dimmer","data":"{\"brightness_pct\":\"30\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":220,"wires":[[]]},{"id":"df31f9658009c829","type":"api-call-service","z":"11baf89685d8f67e","name":"Skru på lys 20%","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang_dimmer","data":"{\"brightness_pct\":\"20\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":180,"wires":[[]]},{"id":"e97938d4b14f168f","type":"trigger","z":"11baf89685d8f67e","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"10","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":1130,"y":220,"wires":[["b545d45296df0bb5"],["3468a185babba23a"]]},{"id":"3468a185babba23a","type":"trigger","z":"11baf89685d8f67e","name":"","op1":"on","op2":"on","op1type":"str","op2type":"str","duration":"10","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":1130,"y":260,"wires":[["0ff349e35e39b130"],[]]},{"id":"0ff349e35e39b130","type":"api-call-service","z":"11baf89685d8f67e","name":"Skru på lys 40%","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang_dimmer","data":"{\"brightness_pct\":\"40\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1340,"y":260,"wires":[[]]},{"id":"624cd4ac022f709e","type":"comment","z":"11baf89685d8f67e","name":"Skru på lys gradvis","info":"Her endrer man navnet på sitt lys i alle under.","x":1350,"y":100,"wires":[],"icon":"node-red/alert.svg"},{"id":"d7aed7fa6ee11977","type":"api-current-state","z":"11baf89685d8f67e","name":"Sjekk om PIR er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.gang_pir_home_security_motion_detection","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"piron","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":360,"wires":[["3779f1ce2c3d6a30"],["e1db384a323df6b8"]],"outputLabels":["PIR på","PIR av"]},{"id":"9c1557e23c0f5c56","type":"comment","z":"11baf89685d8f67e","name":"PIR-enhet","info":"Her endrer man navnet på sin PIR-enhet.\n\nHer sjekker man om det PIR fortsatt er aktiv, for å hindre at lyset slås på om noen er aktive i rommet under hele timer-seansen.","x":420,"y":320,"wires":[],"icon":"node-red/alert.svg"},{"id":"31f974f237f19033","type":"comment","z":"11baf89685d8f67e","name":"Dimmer gradvis","info":"Dimmer gradvis hvert 10. sekund","x":1140,"y":100,"wires":[]},{"id":"ba5b74a77465dde6","type":"api-current-state","z":"11baf89685d8f67e","name":"Sjekk om lys er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.gang_dimmer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"off","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":930,"y":140,"wires":[[],["8e25bc64c14c438c"]]},{"id":"01e9010443affb43","type":"comment","z":"11baf89685d8f67e","name":"Sjekk om lyset er på","info":"Her endrer man navnet på sitt lys.\n\nSjekker om lyset er på, for å hindre flere starter og trafikk.","x":930,"y":100,"wires":[],"icon":"node-red/alert.svg"},{"id":"b6ae3012.c9a4f","type":"server","name":"homeAssistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
