node-red/node_red-lysstyring_nattlys_forskjellige.flow
[{"id":"b8db3c4a46367713","type":"tab","label":"Lysstyring Nattlys Forskjellige (Stue)","disabled":false,"info":"","env":[]},{"id":"49d914dd0e860183","type":"time-range-switch","z":"b8db3c4a46367713","name":"","lat":"60.5861","lon":"10.7634","startTime":"05:30","endTime":"23:00","startOffset":0,"endOffset":0,"x":670,"y":140,"wires":[["a0cd21f517a05007"],["03a314a6b14e3fc8","438583680b5dfd58"]],"outputLabels":["Innenfor","Utenfor"],"info":"Øverste utgang gir signal innenfor tidspunktet.\n\nNederste utgang gir signal utenfor tidspunktet."},{"id":"38de8bdafacd3499","type":"switch","z":"b8db3c4a46367713","name":"På eller av","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":260,"wires":[["43fbcc9515434879","fc520f16bd18efba"],["fc520f16bd18efba"]],"outputLabels":["På","Av"],"info":"Sjekker kun om det gir ON eller OFF"},{"id":"0053e4f0b3871398","type":"server-state-changed","z":"b8db3c4a46367713","name":"Stue PIR (direkte)","server":"b6ae3012.c9a4f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.stue_sensor_burglar","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":160,"wires":[["6fcfb345f8045944"]]},{"id":"a0cd21f517a05007","type":"api-current-state","z":"b8db3c4a46367713","name":"Sjekk om lys er av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.stue_lys","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"off","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":690,"y":260,"wires":[["fea8ecf75d90beec"],[]],"outputLabels":["Av","På"]},{"id":"fea8ecf75d90beec","type":"api-call-service","z":"b8db3c4a46367713","name":"Skru på lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.stue_lys, light.stue_lys_trapp, light.stue_lys_tv","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":360,"wires":[[]]},{"id":"2b6f443fc708b2f6","type":"api-call-service","z":"b8db3c4a46367713","name":"Skru på nattlys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.stue_leselys","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1280,"y":140,"wires":[[]]},{"id":"03a314a6b14e3fc8","type":"api-current-state","z":"b8db3c4a46367713","name":"Sjekk om nattlys er av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.stue_leselys","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"off","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":960,"y":140,"wires":[["2b6f443fc708b2f6"],[]],"outputLabels":["Av","På"]},{"id":"438583680b5dfd58","type":"api-current-state","z":"b8db3c4a46367713","name":"Sjekk om lys er av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.stue_lys","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"off","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":950,"y":260,"wires":[[],["0b64d2d4b22e8bd5"]],"outputLabels":["Av","På"]},{"id":"0b64d2d4b22e8bd5","type":"api-call-service","z":"b8db3c4a46367713","name":"Skru av lys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.stue_lys","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":360,"wires":[[]]},{"id":"fc520f16bd18efba","type":"stoptimer","z":"b8db3c4a46367713","duration":"20","units":"Minute","payloadtype":"str","payloadval":"on","name":"20 min timer","x":130,"y":360,"wires":[[],["f45117ba87e29f29"]],"outputLabels":["","On"]},{"id":"ec6b86232cd6ad9a","type":"time-range-switch","z":"b8db3c4a46367713","name":"","lat":"60.5861","lon":"10.7634","startTime":"05:30","endTime":"23:00","startOffset":0,"endOffset":0,"x":670,"y":460,"wires":[["2d99ba42dca983bd"],["559177365719b98e","2d99ba42dca983bd"]],"outputLabels":["Innenfor","Utenfor"],"info":"Øverste utgang gir signal innenfor tidspunktet.\n\nNederste utgang gir signal utenfor tidspunktet."},{"id":"559177365719b98e","type":"api-current-state","z":"b8db3c4a46367713","name":"Sjekk om nattlys er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.stue_leselys","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"off","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":960,"y":480,"wires":[["c3e416f259561dd1"],[]],"outputLabels":["På","Av"]},{"id":"2d99ba42dca983bd","type":"api-current-state","z":"b8db3c4a46367713","name":"Sjekk om lys er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.stue_lys","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"off","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":950,"y":580,"wires":[["0b64d2d4b22e8bd5"],[]]},{"id":"c3e416f259561dd1","type":"api-call-service","z":"b8db3c4a46367713","name":"Skru av nattlys","server":"b6ae3012.c9a4f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.stue_leselys","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1280,"y":460,"wires":[[]]},{"id":"43fbcc9515434879","type":"api-current-state","z":"b8db3c4a46367713","name":"Sjekk om nattugle av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.nattugle_knapp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":160,"wires":[["49d914dd0e860183"],["a0cd21f517a05007"]],"outputLabels":["Nattugle av","Nattugle på"]},{"id":"40b6ae7caf07b950","type":"api-current-state","z":"b8db3c4a46367713","name":"Sjekk om nattugle av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.nattugle_knapp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"},{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":360,"wires":[["ec6b86232cd6ad9a"],["2d99ba42dca983bd"]],"outputLabels":["Nattugle av","Nattugle på"]},{"id":"21a21335ca73902d","type":"comment","z":"b8db3c4a46367713","name":"PIR-enhet","info":"Her endrer man navnet på sin PIR-enhet.\n\nDet er viktig at enheten gir ON ved begevelse og OFF når den slår av","x":120,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"731990223b98bd1c","type":"comment","z":"b8db3c4a46367713","name":"Overstyr nattlys på","info":"Her endrer man navnet på sin nattugle-enhet.\n\nNattugle som er en knapp som overstyrer nattsenk / dimmet lys på natten","x":450,"y":120,"wires":[],"icon":"node-red/alert.svg"},{"id":"7fe48760bb77d428","type":"comment","z":"b8db3c4a46367713","name":"Sjekk tidspunkt","info":"Her har jeg to tidspunkt. Innenfor sone og utenfor.\n\nDette for å kunne styre nattlyset forskjellig.","x":680,"y":100,"wires":[]},{"id":"69b4daceda93761f","type":"comment","z":"b8db3c4a46367713","name":"Timer","info":"Her settes en timer.\n\nDen aktiveres (restartes) hver gang det kommer signal inn.","x":110,"y":320,"wires":[]},{"id":"a1d8f4a106268380","type":"comment","z":"b8db3c4a46367713","name":"Overstyr nattlys av","info":"Her endrer man navnet på sin nattugle-enhet.\n\nNattugle som er en knapp som overstyrer nattsenk / dimmet lys på natten","x":690,"y":320,"wires":[],"icon":"node-red/alert.svg"},{"id":"84283ac1e597cd92","type":"comment","z":"b8db3c4a46367713","name":"Sjekk tidspunkt","info":"Her har jeg to tidspunkt. Innenfor sone og utenfor.\n\nDette for å kunne styre nattlyset forskjellig.","x":680,"y":420,"wires":[]},{"id":"1fba56a76bb0b57f","type":"comment","z":"b8db3c4a46367713","name":"Sjekk om lyset er av","info":"Her endrer man navnet på sitt lys.\n\nSjekker om lyset er av, for å hindre flere starter og trafikk.","x":690,"y":220,"wires":[],"icon":"node-red/alert.svg"},{"id":"6cd7ab51a087f737","type":"comment","z":"b8db3c4a46367713","name":"Skru på lys","info":"Her endrer man navnet på sitt lys.","x":920,"y":320,"wires":[],"icon":"node-red/alert.svg"},{"id":"dd5410567991f37a","type":"comment","z":"b8db3c4a46367713","name":"Sjekk om nattlyset er av","info":"Her endrer man navnet på sitt nattlys.\n\nSjekker om lyset er på, for å hindre flere starter og trafikk.","x":960,"y":100,"wires":[],"icon":"node-red/alert.svg"},{"id":"9a8a4a273594c3cb","type":"comment","z":"b8db3c4a46367713","name":"Skru på nattlys","info":"Her endrer man navnet på sitt nattlys.","x":1280,"y":100,"wires":[],"icon":"node-red/alert.svg"},{"id":"dc548b3cda67f24c","type":"comment","z":"b8db3c4a46367713","name":"Skru av lys","info":"Her endrer man navnet på sitt lys.","x":1260,"y":320,"wires":[],"icon":"node-red/alert.svg"},{"id":"f156c54445e123dd","type":"comment","z":"b8db3c4a46367713","name":"Skru av nattlys","info":"Her endrer man navnet på sitt nattlys.","x":1280,"y":420,"wires":[],"icon":"node-red/alert.svg"},{"id":"59e8f62936f39bf3","type":"comment","z":"b8db3c4a46367713","name":"Sjekk om lys er av (skru av)","info":"Her endrer man navnet på sitt lys.\n\nDette for å kunne skru av lyset om det er natt","x":980,"y":220,"wires":[],"icon":"node-red/alert.svg"},{"id":"93c41a57e2e6b46f","type":"comment","z":"b8db3c4a46367713","name":"Sjekk om nattlys er av (skru av)","info":"Her endrer man navnet på sitt nattlys.\n\nDette for å kunne skru av lyset om det er natt","x":990,"y":440,"wires":[],"icon":"node-red/alert.svg"},{"id":"5dade01c45b9fd6a","type":"comment","z":"b8db3c4a46367713","name":"Sjekk om lyset er på","info":"Her endrer man navnet på sitt lys.\n\nSjekker om lyset er på, for å hindre flere starter og trafikk.","x":950,"y":540,"wires":[],"icon":"node-red/alert.svg"},{"id":"b72f6b074be20a10","type":"comment","z":"b8db3c4a46367713","name":"Beskrivelse av styringen","info":"# node_red-lysstyring_nattlys_forskjellige\n// Tor Gaute Lien - Versjon 1.0 - 31/12-21\n// Ny\n// \n// **BESKRIVELSE**\n// \n// Lyset styres av en PIR som slår lyset på og av.\n// \n// Den sjekker først om det er overstyring av PIR.\n// \n// Når lyset slås på, aktiveres en timer. Den aktiveres av aktivitet // på PIR (on / off).\n// \n// Når timeren er ferdig sjekker den om PIR er på (om det forsatt er // aktivitet der etter timeren), og om den er aktiv vil timer starte // på nytt. \n// \n// Det er forskjell på hvilket lys som slås på om dagen og om \n// natten.\n// \n// Ved skifte til dag / natt vil automatisk det andre lyset også \n// slås av.\n// \n// Det er en overstyringsknapp (Nattugle) dersom man vil deaktivere \n// nattlys i noen timer.\n// \n// **ENHETER BRUKT**\n// \n// Her bruker jeg følgende devicer:\n// \n// Ekte devicer:\n// PIR som gir ON eller OFF\n// Lampe som styres\n// Nattlampe som styres\n// \n// Home Assistant devicer:\n// Input Boolean som forteller meg om overstyring PIR er på eller av \n// \n// **TING SOM EVENTUELT TRENGS**\n// \n// * Jeg bruker en egen pakke \"packages-overstyring_lys\" som gir de enhetene\n// * Jeg bruker en egen flow \"node-red-overstyring_lysstyring\" som kan \n//   overstyre lysstyringen\n// * Jeg bruker en egen pakke \"packages-pir\" som gir de enhetene\n// * Jeg bruker en egen flow \"node_red-pir\" som styrer de enhetene\n\nTing med UTROPSTEGN (!) sier at du MÅ endre navn på device!","x":170,"y":40,"wires":[]},{"id":"6fcfb345f8045944","type":"api-current-state","z":"b8db3c4a46367713","name":"Sjekk om overstyring er av","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.stue_overstyr_pir_knapp","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":180,"y":260,"wires":[["38de8bdafacd3499"],[]],"outputLabels":["Overstyring av","Overstyring på"]},{"id":"4df93a6622c27ebf","type":"comment","z":"b8db3c4a46367713","name":"Sjekk om overstyring er av","info":"Her endrer man navnet på sin overstyrings-enhet.\n\nNattenhet som er en knapp som overstyrer nattsenk / dimmet lys på natten","x":170,"y":220,"wires":[],"icon":"node-red/alert.svg"},{"id":"f45117ba87e29f29","type":"api-current-state","z":"b8db3c4a46367713","name":"Sjekk om PIR er på","server":"b6ae3012.c9a4f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.stue_sensor_burglar","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"piron","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":360,"wires":[["fc520f16bd18efba"],["40b6ae7caf07b950"]],"outputLabels":["PIR på","PIR av"]},{"id":"6ce6afe24a8672b5","type":"comment","z":"b8db3c4a46367713","name":"PIR-enhet","info":"Her endrer man navnet på sin PIR-enhet.\n\nHer sjekker man om det PIR fortsatt er aktiv, for å hindre at lyset slås på om noen er aktive i rommet under hele timer-seansen.","x":420,"y":320,"wires":[],"icon":"node-red/alert.svg"},{"id":"b6ae3012.c9a4f","type":"server","name":"homeAssistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
